<template>
    <f7-page>
        <div class="activation-page">
            <div class="header">
                <div><img src="static/images/card.png"></div>
            </div>
            <div class="activation-page__inner">
                <form @submit="confirm($event)">
                    <div class="list-block inputs-list"><ul>
                        <f7-list-item v-if="$route.query.phone">
                            <span style="font-size: 13px">Вы указали телефон: <nobr>{{formatPhone}}.</nobr>
						    Проверьте, верный ли он? Если нет - <a href="" @click="$router.back()" style="border-bottom: dotted 1px #2196f3;">укажите другой номер</a></span>
                        </f7-list-item>
                        <f7-list-item v-if="$route.query.phone_end">
                            <span style="font-size: 13px">SMS-код подтверждения отправлен на номер <nobr>{{formatPhone}}</nobr></span>
                        </f7-list-item>
                        <f7-list-item>
                            <f7-label>SMS-код</f7-label>
                            <div class="item-input item-input-field">
                                <input type="number" placeholder="000000" v-model="smsCode" id="smsCode" @keydown="inputKeyPress($event)"/>
                            </div>
                        </f7-list-item>
                    </ul></div>
                    <f7-block inner>
                        <div class="activation-page__trobber" v-if="loading">
                            проверка данных...
                        </div>
                        <div class="activation-page__confirm-but" v-if="!loading">
                            <div class="row">
                                <div class="col-40"><button class="button button-fill color-blue" type="button" @click="$router.back()">Назад</button></div>
                                <div class="col-60"><button class="button button-fill color-blue" type="submit">Активировать</button></div>
                            </div>
                        </div>
                    </f7-block>
                </form>
            </div>
        </div>
        <div class="activation-page__trobber" v-if="loading">
            <div>проверка данных...</div>
        </div>
        <f7-popup :opened="!!error" class="popup-dark">
			<div class="popup-alert">
				<p class="popup-dark__message">{{ error }}</p>
				<p class="popup-dark__button"><f7-button big fill color="gray" @click="error=null">Закрыть</f7-button></p>
			</div>
        </f7-popup>
    </f7-page>
</template>
<script>

import UserService from '../../service/user';
import {HttpError} from "../../service/request";

export default {
    data() {
        return {
            error: null,
            loading: false,
            smsCode: null,
        };
    },
    components: {
        'get-card': require('../../components/get-card.vue')
    },
    computed: {
        formatPhone() {
            const phone = this.$route.query.phone;
            if(phone) {
                return '+7 ' + phone.substr(0, 3) + ' ' + phone.substr(3,3) + '-' + phone.substr(6,2) + '-' + phone.substr(8,2);
            }

            const phoneEnd = this.$route.query.phone_end;
            if(phoneEnd) {
                return `+7 xxx xx-xx-${phoneEnd}`;
            }
        }
    },
    methods: {
        inputKeyPress(e) {
            if(e.keyCode == 13 || e.keyCode == 9) {
                this.confirm(e);
            }
        },
        async confirm(e) {
            document.activeElement.blur();
            e.preventDefault();

            switch(this.$route.params.mode) {
                case 'activate':
                    await this.confirmActivation(this.$route.query.cardCode);
                    break;
                case 'login':
                    await this.confirmLogin(this.$route.query.cardCode, this.$route.query.phone);
                    break;
                case 'register':
                    await this.confirmRegistration();
                    break;
            }
        },
        async confirmLogin(cardCode, phone) {
            await this.doConfirm(() => UserService.confirmLogin(cardCode, phone, this.smsCode));
        },
        async confirmActivation(cardCode) {
            await this.doConfirm(() => UserService.confirmActivation(cardCode, this.smsCode));
        },
        async confirmRegistration() {
            await this.doConfirm(() => UserService.confirmRegister(this.smsCode));
        },
        async doConfirm(fn) {
            try {
                this.error = null;
                this.loading = true;
                const resp = await fn();
                if (resp.success) {
                    this.$bus.$emit('activation-changed');
                    if (this.$router) {
                        /*const $$ = window.Dom7;
                        $$('div.pages .page:not(.cached)').remove();
                        window.f7.views.main.history = [];*/
                        this.$router.load({url: '/'});

                    }
                } else {
                    this.error = this.getErrorMessage(resp.error);
                }
            } catch(e) {
                this.error = e.message;
            }
            this.loading = false;
        },
        getErrorMessage(errorCode) {
            switch (errorCode) {
                case 'no_card':
                    return "Указан несуществующий код карты";
                case 'invalid_code':
                    return "Указан неверный код";
                default:
                    return errorCode;
            }
        }
    }
};
</script>