
<template>
<f7-page>
	<div class="home-page">
		<div class="header">
			<div><img src="static/images/card.png"></div>
		</div>
		<div class="home-page__content">
			<button class="home-page__content__auth-but button-fill button-big button" @click="$f7.views.main.router.load({url: '/activate/login'})"><span class="icons"></span><span class="txt">Войти<span>Ваша карта уже активирована</span></span></button>
			<button class="home-page__content__activation-but button-fill button-big button" @click="$f7.views.main.router.load({url: '/activate/new-card'})"><span class="icons"></span><span class="txt">Активировать карту<span>У вас есть новая карта</span></span></button>
			<button class="home-page__content__get-but button-fill button-big button" @click="$f7.views.main.router.load({url: '/activate/user-info/new'})"><span class="icons"></span><span class="txt">Регистрация<span>Создайте виртуальную карту</span></span></button>
			<button class="home-page__content__support-but button-big button" @click="$f7.views.main.router.load({url: '/support/'})"><span class="icons"></span><span class="txt">Служба поддержки</span></button>
		</div>
	</div>


</f7-page>
</template>

<script>
export default {

}
</script>