<template>
    <f7-page>
        <div class="activation-page">
			<div class="navbar"><div class="navbar-inner"><div class="left sliding"><a href="#" class="back link"><i class="icon icon-back"></i></a></div><div class="center sliding">Авторизация</div></div></div>
            <div class="activation-page__inner">
                <form>
                    <div class="list-block inputs-list"><ul>
                        <f7-list-item>
                            <f7-label>Вход по номеру телефона</f7-label>
                            <div class="item-input item-input-field">
								<div class="row">
									<div class="col-75"><input type="tel" v-model="phone" required v-mask-phone @keydown="phoneKeyPress($event)"></div>
									<div class="col-25"><f7-button fill color="blue" @click="submitPhone"><span><i class="icon icon-forward"></i></span></f7-button></div>
								</div>   
                            </div>
                        </f7-list-item>
                    </ul></div>
                </form>
				<div class="activation-page__or">ИЛИ</div>
                <get-card @code-received="onCodeReceived" @show-error="onShowError" title="Вход по номеру карты"></get-card>
            </div>
        </div>
        <div class="activation-page__trobber" v-if="loading">
            <div>проверка данных...</div>
        </div>
        <f7-popup :opened="!!error" class="popup-dark">
			<div class="popup-alert">
				<p class="popup-dark__message">{{ error }}</p>
				<p class="popup-dark__button"><f7-button big fill @click="error=null">Ок</f7-button></p>
			</div>
        </f7-popup>
    </f7-page>
</template>
<script>

import UserService from '../../service/user';
import {HttpError} from "../../service/request";
import {cleanPhone} from "../../service/utils";

export default {
    data() {
        return {
            phone: '',
            error: null,
            loading: false,
        };
    },
    components: {
        'get-card': require('../../components/get-card.vue')
    },
    methods: {
        async onCodeReceived(code) {
            await this.login({card_code: code});
        },
        onShowError(error) {
            this.error = error;
        },
        phoneKeyPress(e) {
            if(e.keyCode == 13 || e.keyCode == 9) {
                document.activeElement.blur();
                e.preventDefault();
                this.submitPhone();
            }
        },
        async submitPhone() {
            if(!this.phone) {
                this.error = 'Введите номер телефона';
                return;
            }
            await this.login({phone: cleanPhone(this.phone)});
        },
        async login(data) {
            this.error = null;
            this.loading = true;
            try {
                const resp = await UserService.login(data);
                if (resp.success) {
                    let url = '/activate/confirm/login?';
                    if(data.card_code) {
                        url += `cardCode=${data.card_code}&phone_end=${resp.phone_end}`;
                    } else {
                        url += `phone=${data.phone}`;
                    }
                    this.$router.load({url})
                } else if(resp.error == 'not_activated') {
                    this.$router.load({url: '/activate/user-info/' + data.card_code})
                } else {
                    this.error = this.getErrorMessage(resp.error);
                }
            } catch(e) {
                this.error = e.message;
            } finally {
                this.loading = false;
            }
        },
        getErrorMessage(errorCode) {
            switch (errorCode) {
                case 'no_customer':
                    return "Неизвестный номер карты или номер телефона";
                case 'not_activated':
                    return "Карта не активирована";
                default:
                    return errorCode;
            }
        }
    }
};
</script>