<template>
    <f7-page>
        <div class="activation-page">
			<div class="navbar"><div class="navbar-inner"><div class="left sliding"><a href="http://karta-go.ru/" class="link external"><i class="icon icon-back"></i></a></div><div class="center sliding">Активация карты</div></div></div>
            <div class="activation-page__inner">
                <get-card @code-received="onCodeReceived" @show-error="onShowError"></get-card>
            </div>
        </div>
        <div class="activation-page__trobber" v-if="loading">
            <div>проверка данных...</div>
        </div>
        <f7-popup :opened="!!error" class="popup-dark">
			<div class="popup-alert">
				<p class="popup-dark__message">{{ error }}</p>
				<p class="popup-dark__button"><f7-button big fill color="gray" @click="error=null">Закрыть</f7-button></p>
			</div>
        </f7-popup>
    </f7-page>
</template>
<script>

import UserService from '../../service/user';
import {HttpError} from "../../service/request";

export default {
    data() {
        return {
            error: null,
            loading: false,
        };
    },
    components: {
        'get-card': require('../../components/get-card.vue')
    },
    methods: {
        async onCodeReceived(code) {
            this.error = null;
            this.loading = true;
            try {
                const status = await UserService.checkCardStatus(code);
                if (status instanceof HttpError) {
                    this.error = status.errorMessage;
                    return;
                }
                if (status.status == 'not_exists') {
                    this.error = 'Такая карта не зарегистрирована';
                    return;
                }
                if (status.status == 'activated') {
                    await this.goToLogin(code);
                    return;
                }

                this.$f7.views.main.router.load({url: '/activate/user-info/' + code})
            } finally {
                this.loading = false;
            }
        },
        onShowError(error) {
            this.error = error;
        },
        async goToLogin(code) {
            const resp = await UserService.login({card_code: code});
            if (resp.success) {
                let url = '/activate/confirm/login?';
                url += `cardCode=${code}&phone_end=${resp.phone_end}`;
                this.$router.load({url})
            } else {
                this.error = 'Ошибка активации карты, пожалуйста, попробуйте ещё раз';
            }
        }
    }
};
</script>