<template>
	<div>
		<button class="home-page__content__auth-but button-fill button-big button" @click="open('/activate/login')"><span class="icons"></span><span class="txt">Войти<span>Ваша карта уже активирована</span></span></button>
		<button class="home-page__content__activation-but button-fill button-big button" @click="open('/activate/new-card')"><span class="icons"></span><span class="txt">Активировать карту<span>У вас есть новая карта</span></span></button>
		<button class="home-page__content__support-but button-big button" @click="open('/support/')"><span class="icons"></span><span class="txt">Служба поддержки</span></button>
	</div>
</template>

<script>
export default {
	methods: {
		open(url) {
			this.$f7.views.main.router.load({url: url});
			this.$emit('closed');
		}
	}
}
</script>