<template>
    <f7-page>
        <div class="activation-page">

            <div class="navbar"><div class="navbar-inner"><div class="left sliding"><a href="#" class="back link"><i class="icon icon-back"></i></a></div><div class="center sliding"><span v-if ="!this.cardCode">Получить карту</span><span v-else>Активация карты</span></div></div></div>
            <div class="activation-page__inner">
                <form @submit="activate($event)">

                    <div class="list-block inputs-list"><ul>
                        <f7-list-item :class="{ 'has-error' : validateErrors.phone }">
                            <f7-label><span v-if="!validateErrors.phone">Номер телефона</span><span class="validate-error" v-if="validateErrors.phone">{{ validateErrors.phone }}</span></f7-label>
                            <div class="item-input item-input-field">
                                <input type="tel" v-model="userInfo.phone" v-on:blur="validateDelayed('phone')" required v-mask-phone>
                            </div>
                        </f7-list-item>

            			<city-select :cities="cities" :userInfo="userInfo"></city-select>
                        <!--
                        <f7-list-item>
                            <f7-label>Город</f7-label>
                            <f7-input type="select" v-model="userInfo.city_id">
                            <option v-for="item in cities" :value="item.id" :selected="userInfo.city_id===item.id">{{item.name}}</option>
                            </f7-input>
                        </f7-list-item>
                        -->

                        <f7-list-item :class="{ 'has-error' : validateErrors.name }">
                            <f7-label>Имя</f7-label>
                            <f7-input type="text" placeholder="Например, Иван" id="userName" v-model="userInfo.name" required></f7-input>
                        </f7-list-item>
                        <f7-list-item :class="{ 'has-error' : validateErrors.birthday }">
                            <f7-label><span v-if="!validateErrors.birthday">Дата рождения</span><span class="validate-error" v-if="validateErrors.birthday">{{ validateErrors.birthday }}</span></f7-label>
                            <div class="item-input item-input-field">
                                <input type="tel" v-model="userInfo.birthday" v-on:blur="validateDelayed('birthday')" required placeholder="01.01.1999" v-mask="'00.00.0000'">
                            </div>
                        </f7-list-item>

                        <f7-list-item>
                            <div class="activation-page__gender">
                                <f7-label>Пол</f7-label>
                                 <div class="gender-select">
                                    <div :class="{active: !userInfo.gender}" @click="userInfo.gender=false">Мужской</div>
                                    <div :class="{active: userInfo.gender}" @click="userInfo.gender=true">Женский</div>
                                </div>
                            </div>
                        </f7-list-item>

                        <f7-list-item checkbox @change="agreeChanged($event)" :checked="agree" class="activation-page__checkbox">
                            Я согласен с <a href="http://karta-go.ru/terms.html" target="_blank">условиями обработки персональных данных</a>
                            <div class="validate-error" v-if="validateErrors.agree">{{ validateErrors.agree }}</div>
                        </f7-list-item>

                    </ul>
                    </div>
                    <div class="list-block inputs-list activation-page__custom_notifications">
                        <f7-block-title>Настройка уведомлений</f7-block-title>
                        <notifications-form :categories="categories" :userInfo="userInfo"></notifications-form>
                    </div>

                    <div class="activation-page__button"><button class="button button-fill" type="submit"><span class="icons"></span><span class="txt">Активировать карту</span></button></div>

                </form>
            </div>
        </div>
        <f7-popup :opened="!!error" class="popup-dark">
			<div class="popup-alert">
				<p class="popup-dark__message">{{ error }}</p>
				<p class="popup-dark__button"><f7-button big fill color="gray" @click="error=null">Закрыть</f7-button></p>
			</div>
        </f7-popup>
    </f7-page>
</template>

<script>

    import clone from 'clone';
    import UserService from '../../service/user';
    import CabinetService from '../../service/cabinet';
    import config from '../../config';
    import {cleanPhone} from "../../service/utils";

    export default {
        data() {
            return {
                isApp: config.isApp,
                error: null,
                validateErrors: false,
                errorsCounter: 0,
                categories: null,
                cities: null,
                agree: false,
                userInfo: {
                    phone: '',
        		    city_id: null,
                    name: '',
                    birthday: '',
                    gender: false,
                    notifications: 2,
                    categs: [],
                },
                touched: {
                    phone: false,
                    agree: false,
                    birthday: false,
                },
                validateErrors: {
                    phone: null,
                    agree: null,
                    birthday: null,
                },
                loading: false,
            };
        },
        computed: {
            cardCode() {
                return this.$route.params.cardCode;
            }
        },
        async created(){
            try {
                const info = await CabinetService.getInfo();
                this.categories = info.categories;
                this.cities = info.cities;
                this.userInfo.city_id = info.city_id;
        		//console.log(info.city_id);
            } catch(e) {
                this.categories = null;
                this.cities = null;
            }
        },
        components: {
            'notifications-form': require('../../components/notifications-form.vue'),
            'city-select': require('../../components/city-select.vue'),
        },
        methods: {

            addError(idx, message){
                this.validateErrors = this.validateErrors || {};
                this.validateErrors[idx] = message;
            },
            removeError(idx){
                this.validateErrors[idx] = null;

            },
            countErrors: function(){
                var i = 0;
                for (let key in this.validateErrors){
                    if(this.validateErrors[key])
                        i++;
                }
                this.errorsCounter = i;
            },
            agreeChanged($event) {
                this.agree = $event.target.checked;
                this.validate('agree');

            },
            cleanBitrhday(birthday) {
                return birthday.split('.').reverse().join('-');
            },
            validateDelayed(field) {
                setTimeout(() => this.validate(field), 300);
            },
            validate(field){
                if(field !== undefined)
                    this.touched[field] = true;


                if(this.touched.phone || field == 'all') {
                    var phone = this.userInfo.phone;
                    if (phone) {
                        phone = cleanPhone(phone);
                        phone.length != 10 ?
                            this.addError('phone', 'Телефонный номер должен содержать 10 цифр') :
                            this.removeError('phone', phone);
                    }
                    else {
                        this.addError('phone', 'Укажите телефонный номер');
                    }
                }
                if(this.touched.birthday || field == 'all') {
                    var birthday = this.userInfo.birthday;

                    if (birthday)
                    {
                        let date = new Date(this.cleanBitrhday(birthday));
                        let isValidDate = date instanceof Date && isFinite(date);
                        if(isValidDate) {
                            isValidDate = date.getFullYear() > 1900 && date.getFullYear() <= new Date().getFullYear();
                        }
                        isValidDate ?
                            this.removeError('birthday'):
                            this.addError('birthday', 'Указана некорректная дата');
                    }
                    else
                    {
                        this.addError('birthday', 'Укажите дату рождения');
                    }
                }

                if(this.touched.agree || field == 'all') {
                    if(!this.agree) {
                        this.addError('agree', 'Вы должны принять условия пользовательского соглашения');
                    } else {
                        this.removeError('agree', true);
                    }
                }

                this.countErrors();
            },
            async activate(e) {
                try {
                    e.preventDefault();
                    this.validate('all');
                    if (this.errorsCounter == 0) {
                        this.error = null;

                        const isRegister = this.cardCode === 'new';
                        let data = clone(this.userInfo);
                        if(!isRegister)
                            data.card_code = this.cardCode;
                        data.phone = cleanPhone(data.phone);
                        data.birthday = this.cleanBitrhday(data.birthday);

                        this.loading = true;
                        const resp = await (isRegister ? UserService.register(data) : UserService.activate(data));
                        if (resp.success) {
                            const url = isRegister
                                ? `/activate/confirm/register?phone=${data.phone}`
                                : `/activate/confirm/activate?cardCode=${this.cardCode}&phone=${data.phone}`;
                            this.$router.load({url: url})
                        } else {
                            this.error = this.getErrorMessage(resp.error);
                        }
                    }
                } catch(e) {
                    this.error = e.message;
                }
                this.loading = false;
            },
            getErrorMessage(errorCode) {
                switch (errorCode) {
                    case 'phone_used':
                        return "Номер телефона уже используется";
                    case 'no_card':
                        return "Указан несуществующий код карты";
                    case 'invalid_code':
                        return "Указан неверный код";
                    default:
                        return errorCode;
                }
            }
        }
    }
</script>