<template>
<f7-page class="page-white">
    <f7-navbar title="Штрих-код" back-link=" " sliding></f7-navbar>
		<f7-block style="height: 100%">
			<div class="barcode__item"><div><barcode :value="cardCode" format="EAN13"></barcode></div></div>
		</f7-block>
</f7-page>
</template>

<script>

import UserService from '../service/user';
import VueBarcode from 'vue-barcode';

export default {
    data() {
        return {
			cardCode: ''
        };
    },
	async created(){
		const user = UserService.getUserInfo;
        let code = user.cardCode;
        if(code.substr(0, 2) == 'e-') {
            code = '196' + code.substr(2);
		}
        this.cardCode = code
	},
  components: {
    'barcode': VueBarcode
  }
	
}

</script>