<template>
<f7-page class="page-beige">
    <f7-navbar title="Баллы" back-link=" " sliding></f7-navbar>
	<f7-block style="margin-top: 56px">
		<div class="balls-page__procent" v-if="lottery">
			<div class="balls-page__procent-title">{{lottery.name}} {{lotteryPercent}}%</div>
			<div class="balls-page__procent-item"><div :style="'width: '+lotteryPercent+'%;'"></div></div>
			<div class="balls-page__procent-desc" v-if="lotteryRemaining>0">Для  участии в ежемесячном розыгрыше необходимо купить ещё на <span>{{lotteryRemaining}}</span> баллов</div>
			<div class="balls-page__procent-desc" v-if="lotteryRemaining<=0">Вы моежете принять участие в ежемесячном розыгрыше</div>
		</div>
		<div class="balls-page__guest-balls">У вас <span>{{ balance }}</span> баллов</div>
		<div v-for="b in delayedBonuses" class="balls-page__guest-plus">
			+ещё {{ b.amount }} {{ b.amount|plural('балл', 'балла', 'баллов') }} будет через {{ b.daysLeft }} {{ b.daysLeft|plural('день','дня','дней') }}
		</div>
	</f7-block>
</f7-page>
</template>

<script>

import UserInfo from '../service/user-info';

export default {
    data() {
        return {
			balance: 0,
			delayedBonuses: [],
            lottery: null,
            lottery_bonuses: 0
        };
    },
	computed: {
        lotteryRemaining() {
            if(!this.lottery)
                return 0;
            return Math.round(this.lottery.cost_of - this.lottery_bonuses);
		},
        lotteryPercent() {
            if(this.lotteryRemaining <= 0)
                return 100;
            console.log(this.lottery.cost_of);
            return Math.round(this.lottery_bonuses * 100 / this.lottery.cost_of);
		}
	},
	async created(){
		this.balance = UserInfo.userStatus.balance;
		this.delayedBonuses = UserInfo.userStatus.bonuses;
		this.lottery = UserInfo.lottery;
		this.lottery_bonuses = UserInfo.userStatus.lottery_bonuses;
	}
	
}

</script>