<template>
<f7-page class="page-white">
    <f7-navbar :title="promoevent.partner.name" back-link=" " sliding></f7-navbar>
	<f7-block style="height: calc(100% - 76px); margin-top: 56px">
		<coupon-info v-if="promoevent" :promoevent="promoevent"></coupon-info>
	</f7-block>
</f7-page>

</template>
<script>
export default {
    data() {
        return {
            promoevent: JSON.parse(decodeURIComponent(this.$route.params.coupon)),
        }
    },
	components: {
		'coupon-info': require('../components/coupon-info')
    }
};
</script>