<template>
    <f7-page class="page-white">
        <f7-navbar title="История операций" back-link=" " sliding></f7-navbar>
        <f7-block style="margin-top:56px;">
			<div class="list-block">
				<ul>
					<li v-for="history in histories">
						<div class="item-inner item-inner__category">
							<div class="category-item">
								<div class="category-item__media" v-if="history.partner_logo">
									<i class="icon icon-hamburger" :style="{backgroundImage: 'url(' + history.partner_logo + ')'}"></i>
								</div>
								<div class="category-item__content">
									<div class="category-item__inner">
										<div class="category-item__title">
											{{history.partner_name}}
										</div>
									</div>
								</div>
							</div>
							<div class="row" style="font-size: 11px; padding-bottom: 15px;">
								<div class="col-45">Сумма покупки {{history.payment_amount}}</div>
								<div class="col-55">Оплачено баллами {{history.paid_by_bonuses}}</div>
								<div class="col-45">Скидка {{history.discount_amoumnt}}</div>
								<div class="col-55">Начисленно баллов {{history.bonuses_gained}}</div>
							</div>
						</div>
					</li>
				</ul>
			</div>
        </f7-block>
    </f7-page>
</template>

<script>
    import UserService from '../service/user';
    export default {
        data() {
            return {
                histories: null
            };
        },
        async created() {
            this.histories = await UserService.getHistoryPayment();
        },

    }

</script>