<template>
<f7-page class="page-white">
    <f7-navbar title="Как это работает" back-link=" " sliding></f7-navbar>
	<f7-block style="height: calc(100% - 56px); margin-top: 56px">
		<div class="how-work">
			<f7-swiper pagination >
				<f7-swiper-slide>
					<div class="how-work__desc__img"></div>
					<div class="how-work__desc">Узнавайте об акциях и скидках, <br/>в момент их появления</div>
				</f7-swiper-slide>
				<f7-swiper-slide>
					<div class="how-work__desc__img2"></div>
					<div class="how-work__desc">Совершая покупки, <br/>получайте баллы</div>
				</f7-swiper-slide>
				<f7-swiper-slide>
					<div class="how-work__desc__img3"></div>
					<div class="how-work__desc">Тратьте баллы в других магазинах,<br/>оплачивая до 99% от стоимости</div>
				</f7-swiper-slide>
				<f7-swiper-slide>
					<div class="how-work__desc__img4"></div>
					<div class="how-work__desc">Выигрывайте подарки<br>и персональные скидки</div>
				</f7-swiper-slide>
			</f7-swiper>
		</div>
	</f7-block>
</f7-page>

</template>
<script>
export default {
    data() {
        return {
            
        }
    },
	components: {
		
    }
};
</script>