<template>
    <f7-page no-page-content class="navbar-fixed-with-ball toolbar-fixed-with-ball page-white js-main-page">
        <div class="navbar navbar__with-ball" data-navbar-height="130" :class="{'navbar__with-ball-1': currentTab=='tab1','navbar__with-ball-2': currentTab=='tab2','navbar__with-ball-3': currentTab=='tab3'}">
            <div class="navbar-inner">
                <div class="left"  v-if="isActivated">
                    <a href="#" class="link icon-only open-panel">
                        <i class="icon icon-bars"></i>
                    </a>
                    <a href="#" class="link icon-only"  @click="$f7.views.main.router.load({url: '/barcode/'});">
                        <span class="navbar__barcode"></span>
                    </a>
                </div>
                <div class="center"></div>
                <div class="right"></div>
            </div>
            <div class="navbar-inner">
                <div class="left">
                    <div class="navbar__logo"><img src="static/images/logo-in.png"></div>
                </div>
                <!-- <div class="right" v-if="!isApp" style="bottom: 100px">
                    Скачть приложение
                    <a>Google Play</a> <a>Apple Store</a>
                </div> -->
                <div class="right">
                    <div class="navbar-balls" v-if="userInfo">
						<div class="navbar-balls__procent-title" v-if="lottery">{{lottery.name}} {{lotteryPercent}}%</div>
						<div class="navbar-balls__procent-item"  v-if="lottery"><div :style="'width: '+lotteryPercent+'%;'"></div></div>
						<div class="navbar-balls__count" @click="$f7.views.main.router.load({url: '/bonuses/'});">
							<div class="navbar-balls__count__item">{{ Math.round(userInfo.balance) }}</div><div class="navbar-balls__unit">БАЛЛОВ</div>
						</div>
						<div class="navbar-balls__plus" v-if="delayedBonus">+{{delayedBonus.amount}} через {{delayedBonus.daysLeft}} {{ delayedBonus.daysLeft|plural('день','дня','дней') }}</div>
					</div>
                </div>
            </div>
        </div>
            
        <div class="toolbar toolbar-fixed-with-ball tabbar">
            <div class="toolbar-inner" v-if="tabs">
			    <a v-if="tabs.tab1.show" :href="'#tab1-'+pageId" class="tab-link js-tablink-1" :class="{'active': currentTab=='tab1'}">
                    <span class="tabbar-label">КУПОНЫ</span>
                </a>
                <a v-if="tabs.tab2.show" :href="'#tab2-'+pageId" class="tab-link js-tablink-2" :class="{'active': currentTab=='tab2'}">
                    <span class="tabbar-label">АКЦИИ</span>
                </a>
                <a v-if="tabs.tab3.show" :href="'#tab3-'+pageId" class="tab-link js-tablink-3" :class="{'active': currentTab=='tab3'}">
                    <span class="tabbar-label">КАТАЛОГ</span>
                </a>
                <a class="tab-link" v-if="!isActivated" @click="openActivationPopup">
                    <span class="tabbar-label">Активировать карту</span>
                </a>
            </div>
        </div>


        <f7-page-content class="tabs hide-navbar-on-scroll pull-to-refresh-content">
            <div v-if="connectionErrorMessage">
                <p style="text-align: center; padding: 20px">{{connectionErrorMessage}}</p>
                <p class="popup-dark__button"><f7-button big fill color="gray" @click="loadData">Обновить</f7-button></p>
            </div>

            <!-- Default pull to refresh preloader-->
            <div class="pull-to-refresh-layer">
                <div class="preloader"></div>
                <!-- <div class="pull-to-refresh-arrow"></div> -->
            </div>
            <!-- Tab 1, active by default -->
			<div :id="'tab1-'+pageId" class="tab js-main-tab" :class="{'active': currentTab=='tab1'}">
                <coupons-tab v-if="info" :info="info" :user-info="userInfo"></coupons-tab>
            </div>
            <!-- Tab 2 -->
            <div :id="'tab2-'+pageId" class="tab js-main-tab" :class="{'active': currentTab=='tab2'}">
                <promoevents-tab v-if="info" :info="info" :group="tabs.tab1.group"></promoevents-tab>
            </div>
            <!-- Tab 3 -->
            <div :id="'tab3-'+pageId" class="tab js-main-tab" :class="{'active': currentTab=='tab3'}">
                <partners-tab v-if="info" :info="info" :group="tabs.tab3.group"></partners-tab>
            </div>
            <!--
            <f7-popup :opened="showActivationPopup"  @popup:closed="closeActivationPopup">
                Чтобы почуствовать все преимущества нашей чудо-карты скачайте приложение приложение<br/>
                <a>Google Play</a> <a>Apple Store</a>
                <br>
                или <a href="/activate" class="link" @click="closeActivationPopup">активриуйте карту через сайт</a><br>
                <f7-button big color="orange" @click="closeActivationPopup">Закрыть</f7-button>
            </f7-popup>-->
            <f7-popup :opened="showActivationPopup"  @popup:closed="closeActivationPopup" class="popup__centered">
                <div class="popup__centered__inner">
                    <div class="popup__centered__content">
                        <f7-button big color="orange" @click="closeActivationPopup" style="float: right; font-size: 30px;">X</f7-button>
                        <activation-popup @closed="closeActivationPopup"></activation-popup>
                    </div>
                </div>
            </f7-popup>
        </f7-page-content>
    </f7-page>
</template>

<script>
import UserService from '../service/user';
import UserInfo from '../service/user-info';
import CabinetService from '../service/cabinet';
import config from '../config';

export default {
    data() {
        return {
            isApp: config.isApp,
            activated: UserService.activated,
            userInfo: null,
            info: null,
            showActivationPopup: false,
            currentTab: 'tab1',
            pageId: Math.round(Math.random() * 100000),
			tabs: null,
            connectionErrorMessage: null,
        };
    },
    components: {
        'partners-tab': require('../components/partners-tab.vue'),
        'promoevents-tab': require('../components/promoevents-tab.vue'),
        'coupons-tab': require('../components/coupons-tab.vue'),
        'activation-popup': require('./activate/popup.vue'),
    },
    computed: {
        isActivated() {
            return config.isApp || this.activated;
        },
        delayedBonus() {
            return this.userInfo && this.userInfo.bonuses.length ? this.userInfo.bonuses[0] : null;
        },
        lottery() {
            return this.info && this.info.lotteries && this.info.lotteries.length ? this.info.lotteries[0] : null;
        },
        lotteryPercent() {
            if(!this.lottery || !this.userInfo)
                return 0;
            var balance = this.userInfo.lottery_bonuses;
            var cost = this.lottery.cost_of;
            if(balance >= cost || cost == 0)
                return 100;
            return Math.round(balance * 100 / cost);
        }
    },
    methods: {
        async loadData() {
            try {
                this.connectionErrorMessage = null;

                let promises = [CabinetService.getInfo()];
                if (this.isActivated)
                    promises.push(UserService.getUserStatus());
                const res = await Promise.all(promises);

                this.info = res[0];

				this.tabs = res[0].tabs;				
				this.setTab(this.tabs)
				
                if (res.length > 1)
                    this.checkResponse(res[1]);
                else
                    this.userInfo = null;

                UserInfo.lottery = this.lottery;
                    
            } catch(e) {
                this.connectionErrorMessage = e.message;
            }
        },
        openActivationPopup() {
            this.showActivationPopup = true;
        },
        closeActivationPopup() {
            this.showActivationPopup = false;
            //localStorage.setItem('activation-popup-closed',1);
        },
		checkResponse(res){
			if (res.responseCode == 401 || res.responseCode == 403){
				this.isApp ? this.appLogout() : UserService.logout();
				this.$bus.$emit('activation-changed');
			} else {
                this.userInfo = res;
                UserInfo.userStatus = res;
            }
		},
		appLogout() {
			alert('Необходима повторная привзяка карты');
            UserService.logout();
            this.$f7.views.main.router.load({url: '/activate/', reload: true});
		},
		setTab(tabs){
			for (let key in tabs){
				if(tabs[key]['show']){
					this.currentTab = key;
					break;
				}
			}
		},
    },	
    watch: {
        activated(val) {
            //this.loadData();
        }
    },
    created() {
        this.loadData();
        this.$bus.$on('activation-changed', () => {
            this.activated = UserService.activated;
        });
        this.$bus.$on('coupon-removed', data => {
            this.info.promoevents = this.info.promoevents.filter(p => p.id != data.id);
        });
    },
    mounted() {
        const $$ = window.Dom7;
        $$('.js-main-tab').on('tab:show', (e) => {
            this.currentTab = e.target.id.replace(/-.+$/, '');
        });
        var ptrContent = $$('.pull-to-refresh-content');
        ptrContent.on('ptr:refresh', async (e) => {
            await this.loadData();
            window.f7.pullToRefreshDone();
        });

        document.addEventListener("resume", () => {
            this.loadData();
        }, false);

        /*if(!config.isApp && !this.activated && !localStorage.getItem('activation-popup-closed')) {
            setTimeout(() => this.showActivationPopup = true, 1000);
        }*/
    }
}
</script>
<style>
    a {cursor: pointer}
</style>