<template>
    <f7-page @page:init="onPageInit" @page:beforeremove="onPageBeforeRemove" @page:back="onPageBack">
        <f7-navbar title="Карта" back-link=" " sliding></f7-navbar>
        <div :id="mapId" style="height: calc(100vh - 56px); margin-top: 56px;"></div>
    </f7-page>
</template>

<script>
import _ from 'lodash';
import polyline from '@mapbox/polyline';
import config from '../config';
const $$ = window.Dom7;
var lastUserPost = null;

export default {
    data() {
        const id = Math.round(Math.random() * 100000);
        const addresses = JSON.parse(this.$route.params.addresses).filter(x => x.coordinates && x.coordinates[0] != 0);
        return {
            addresses: addresses,
            uniqueId: id,
            mapId: `gmap-${id}`
        }
    },
    methods: {
        onPageInit() {
            $$(document.body).addClass('map-body')

            const div = document.getElementById(this.mapId);

            // Initialize the map view
            var startPosition = this.getDefaultMapCenter();
            const map = plugin.google.maps.Map.getMap(div, {
                camera: {
                    'latLng': startPosition,
                    'zoom': 12
                }
            });
            // Wait until the map is ready status.
            map.addEventListener(plugin.google.maps.event.MAP_READY, () => this.onMapReady(map));
        },
        getDefaultMapCenter: function () {
            return lastUserPost !== null
                ? lastUserPost
                : new plugin.google.maps.LatLng(_.mean(_.map(this.addresses, 'coordinates[0]')), _.mean(_.map(this.addresses, 'coordinates[1]')));
        },
        onPageBeforeRemove() {
            $$(document.body).removeClass('map-body');
        },
        onPageBack() {
            this.onPageBeforeRemove();
        },
        displayMarkers: function (map) {
            this.addresses.forEach(address => {
                let add = [];
                if (address.work_hours)
                    add.push(address.work_hours);
                if (address.phone)
                    add.push(address.phone);
                map.addMarker({
                    position: {
                        lat: address.coordinates[0],
                        lng: address.coordinates[1]
                    },
                    title: address.address,
                    snippet: add.join(' // ')
                });
            });
        },

        async onMapReady(map) {
            this.displayMarkers(map);

            const userPos = await this.getUserPosition();
            if(userPos !== null) {
                lastUserPost = userPos;
                map.addMarker({
                    position: userPos,
                    title: 'Вы здесь',
                    icon: 'blue'
                });
                map.animateCamera({
                    'target': userPos,
                    'duration': 3000
                });
                await this.showRouteToClosestAddress(map, userPos);
            }
        },
        getUserPosition() {
            return new Promise(resolve => {
                navigator.geolocation.getCurrentPosition(
                    pos => {
                        const coord = {
                            lat: pos.coords.latitude,
                            lng: pos.coords.longitude
                        };
                        resolve(coord);
                    },
                    () => resolve(null),
                    {
                        enableHighAccuracy: true,
                        timeout: 60000,
                    }
                );
            });
        },

        async showRouteToClosestAddress(map, userPos) {
            try {
                const address = this.getClosestAddress(userPos);
                if (!address) {
                    return;
                }
                const encodedRoute = await this.googleDirectionApiResponse(userPos, {
                    lat: address.coordinates[0],
                    lng: address.coordinates[1]
                });
                if(!encodedRoute)
                    return;
                var routePoints = this.decodeDirectionApiResponse(encodedRoute);
                map.addPolyline({
                    points: routePoints,
                    //'color' : '#AA00FF',
                    'width': 4,
                    //'geodesic': true
                });
            } catch(e) {
                //alert(e);
            }
        },

        getClosestAddress(userPos) {
            return _(this.addresses)
                .sortBy(x => this.distance(userPos.lat, userPos.lng, x.coordinates[0], x.coordinates[1]))
                .head();
        },
        //https://stackoverflow.com/questions/27928/calculate-distance-between-two-latitude-longitude-points-haversine-formula
        distance(lat1, lon1, lat2, lon2) {
            var p = 0.017453292519943295;    // Math.PI / 180
            var c = Math.cos;
            var a = 0.5 - c((lat2 - lat1) * p)/2 +
                c(lat1 * p) * c(lat2 * p) *
                (1 - c((lon2 - lon1) * p))/2;

            return 12742 * Math.asin(Math.sqrt(a)); // 2 * R; R = 6371 km
        },
        async googleDirectionApiResponse(startPos, endPos) {
            const url = `https://maps.googleapis.com/maps/api/directions/json?origin=${startPos.lat},${startPos.lng}&destination=${endPos.lat},${endPos.lng}&key=${config.googleApiKey}`;
            const resp = await fetch(url, {
                method: 'GET',
                headers:{
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                }
            })
            if(resp.status != 200) {
                return null;
            }
            return await resp.json();
        },

        decodeDirectionApiResponse(json) {
            const legs = json.routes[0].legs;
            const steps = _.flatten(legs.map(x => x.steps));
            return  _.flatten(steps.map(step => {
                if(!step.polyline || !step.polyline.points)
                    return [];
                const decodedPolyline = polyline.decode(step.polyline.points);
                return decodedPolyline.map(([lat, lng]) => {return {lat, lng}});
            }));
        }
    }
}
</script>
