<template>
<f7-page class="page-white">
    <f7-navbar :title="partner.name" back-link=" " sliding></f7-navbar>
	<f7-block style="height: 100%">
		<div style="margin-top: 56px; padding: 15px;">
			<partner-info :partner="partner"></partner-info>
		</div>
	</f7-block>
</f7-page>

</template>
<script>
export default {
    data() {
        return {
            partner: JSON.parse(decodeURIComponent(this.$route.params.partner)),
        }
    },
	components: {
		'partner-info': require('../components/partner-info')
    }
};
</script>