<template>
    <f7-page>
        <div class="activation-page activation-page_edit-data">
        <f7-navbar title="Личные данные" back-link=" " sliding></f7-navbar>
        <f7-block>

                <form @submit="edit_personal_data($event)">
                <div class="list-block inputs-list"><ul>

        			<city-select :cities="cities" :userInfo="userInfo"></city-select>
            
                    <f7-list-item :class="{ 'has-error' : validateErrors.name }">
                        <f7-label><span v-if="!validateErrors.name">Имя</span><span class="validate-error" v-if="validateErrors.name">{{ validateErrors.name }}</span></f7-label>
                        <f7-input type="text" v-model="userInfo.name" :val="userInfo.name" required></f7-input>
                    </f7-list-item>

                    <f7-list-item :class="{ 'has-error' : validateErrors.birthday }">
                        <f7-label><span v-if="!validateErrors.birthday">Дата рождения</span><span class="validate-error" v-if="validateErrors.birthday">{{ validateErrors.birthday }}</span></f7-label>
                        <div class="item-input item-input-field">
                            <input type="tel" v-model="userInfo.birthday" required placeholder="01.01.1999" v-mask="'00.00.0000'">
                        </div>
                    </f7-list-item>

                    <f7-list-item>
                        <div class="activation-page__gender">
                            <f7-label>Пол</f7-label>
                            <div class="gender-select">
                                <div :class="{active: !userInfo.gender}" @click="userInfo.gender=false">Мужской</div>
                                <div :class="{active: userInfo.gender}" @click="userInfo.gender=true">Женский</div>
                            </div>
                        </div>
                    </f7-list-item>
                 </ul>
				 <p style="color: red; text-align: center;" v-if="error">{{ error }}</p>
				 <div style="margin: 15px;"><button class="button button-fill color-blue button-big" style="margin: 0 auto;" type="submit">Сохранить</button></div>

                    <f7-block  v-if="edit_success" style="text-align: center;">
                        <p style="color: green">Ваши данные сохранены</p>
                    </f7-block>

                </div>
                </form>

        </f7-block>
        </div>
    </f7-page>
</template>
<script>
    import UserService from '../service/user';
    import CabinetService from '../service/cabinet';
    import UserInfo from '../service/user-info';
    import clone from 'clone';

    export default {
        data() {
            return {
                error: null,
                validateErrors: false,
                edit_success:false,
                cities: null,
                userInfo: {
        		    city_id: null,
                    name: '',
                    birthday: '',
                    gender: true,
                    oldName:'',
                    oldBirthday:'',
                    oldGender:'',
                },
                smsCode: null
            };
        },
        async created() {
            const info = await CabinetService.getInfo();
            const user = UserService.getUserInfo;

            this.userInfo.name = user.name;
            this.userInfo.oldName = user.name;
            this.userInfo.birthday = this.birthdayToString(user.birthday);
            this.userInfo.oldBirthday = user.birthday;
            this.userInfo.gender = user.gender;
            this.userInfo.oldGender = user.gender;

            this.cities = info.cities;
            this.userInfo.city_id = info.city_id;
            //console.log(info.city_id);
        },
        components: {
            'city-select': require('../components/city-select.vue'),
        },
        methods:{
            cleanBitrhday(birthday) {
                return birthday.split('.').reverse().join('-');
            },
            birthdayToString(birthday) {
                return birthday.split('-').reverse().join('.');
            },

            validateDate(birthday){

                if (birthday)
                {
                    let date = new Date(this.cleanBitrhday(birthday));
                    let isValidDate = date instanceof Date && isFinite(date);

                    if(isValidDate) {
                        isValidDate = date.getFullYear() > 1900 && date.getFullYear() <= new Date().getFullYear();
                    }

                    this.error = isValidDate ?
                         null : 'Указана некорректная дата';
                }
                else
                {
                    this.error = 'birthday', 'Укажите дату рождения';
                }
            },
            async edit_personal_data(e) {
                e.preventDefault();
                if (this.userInfo.birthday == this.userInfo.oldBirthday && this.userInfo.gender == this.userInfo.oldGender &&  this.userInfo.name == this.userInfo.oldName){
                    return false;
                };

                this.validateDate(this.userInfo.birthday);


                if (this.error == null) {
                    let data = clone(this.userInfo);
                    data.birthday = this.cleanBitrhday(data.birthday);
                    const resp = await UserService.editCustomerPersonalData(data);

                    if (resp.success == true) {
                        this.edit_success = true;

                        const user = UserService.getUserInfo;
                        user.phone = data.phone;
                        user.birthday = data.birthday;
                        user.gender = data.gender;
                        user.city_id = data.city_id;
                        UserInfo.setUserInfo(user);

                        this.$bus.$emit('user-city-changed');
                        this.$router.load({url: '/'});
                    }
                    else{
                        this.error = 'Ошибка сохранения';
                    }
                }


            }
        }

    }
</script>