<template>
<f7-page class="page-white">
    <f7-navbar title="Акция" back-link=" " sliding></f7-navbar>
	<f7-block style="height: 100%">
		<div style="margin-top: 56px;">
			<promoevent-info v-if="promoevent" :promoevent="promoevent"></promoevent-info>
		</div>
	</f7-block>
</f7-page>

</template>
<script>
export default {
    data() {
        return {
            promoevent: JSON.parse(decodeURIComponent(this.$route.params.promoevent)),
        }
    },
	components: {
		'promoevent-info': require('../components/promoevent-info')
    }
};
</script>