<template>
<f7-page>
    <div class="navbar"><div class="navbar-inner"><div class="left sliding"><a href="#" class="back link"><i class="icon icon-back"></i></a> </div><div class="center sliding">Настройки</div></div></div>
	<div class="activation-page">
		<div v-if="section === 'notifications'">
			<form @submit="updateUserInfo($event)">
				<div class="activation-page__custom_notifications">
					<f7-block-title style="padding-top: 56px; margin-top: 0px;">Настройка уведомлений</f7-block-title>
					<notifications-form class="inputs-list" :categories="categories" :userInfo="userInfo"></notifications-form>	
				</div>
				<f7-block>
					<p style="color: red" v-if="error">{{ error }}</p>
					<div style=" margin: 15px;"><button style="margin: 0 auto;" class="button color-blue button-fill" type="submit"><span class="icons"></span><span class="txt">Сохранить</span></button></div>
				</f7-block>
			</form>
		</div>
	</div>
</f7-page>
</template>

<script>

import UserService from '../service/user';
import CabinetService from '../service/cabinet';

export default {
    data() {
        return {
			section: 'notifications',
            error: null,
			categories: null,
            userInfo: {
				short_code: '',
  				notifications: 2,
				categs: [],
            },
            connection: false
        };
    },
	async created(){
		
		const user = UserService.getUserInfo;
		console.log(user);
		this.userInfo.notifications = user.notifications || 2;
		this.userInfo.categs = user.categs || [];
		
		this.load();
	},
	components: {
		'notifications-form': require('../components/notifications-form.vue'),
	},
    methods: {
		async load(){
			try {
                const info = await CabinetService.getInfo();
                if (info) {
					this.categories = info.categories;
                } else {
                    this.error = 'Ошибка получения данных';
                }
            } catch(e) {
                this.error = e.message;
            }
		},
		async updateUserInfo(){
			try {
                const resp = await UserService.update(this.userInfo);
				if(resp.success) {
					this.$router.back();
				} else {
					this.error = 'Ошибка сохранения';
				}
            } catch(e) {
                this.error = e.message;
            }
		},
        async updateUserInfo(e) {
            e.preventDefault();

			this.error = null;
			const resp = await UserService.update(this.userInfo);
			if(resp.success) {
				this.$router.back();
			} else {
				this.error = resp.error;
			}
        }
		
    }
	
}

</script>