<template>
    <f7-page>
		<div class="activation-page">
			<div class="navbar"><div class="navbar-inner"><div class="left sliding"><a href="#" class="back link"><i class="icon icon-back"></i></a></div><div class="center sliding">Написать в техподдержку</div></div></div>
			<div class="activation-page__inner">
				<f7-block style="">

					<form @submit="support_form($event)">
						<div class="list-block inputs-list"><ul>

							<f7-list-item v-if="!this.register" :class="{ 'has-error' : this.error == 'phone' }">
							<f7-label >Информация для связи</f7-label>
								<f7-input type="text" placeholder="Телефон или e-mail" v-model="support.contacts" required></f7-input>
							</f7-list-item>

							<f7-list-item :class="{ 'has-error' : this.error == 'msg' }">
								<f7-label>Сообщение</f7-label>
								<f7-input type="textarea" v-model="support.message"  required></f7-input>
							</f7-list-item>

						</ul>
							<h2 style="text-align: center" v-if="this.step=='success'">Ваше сообщение отправлено в службу тех.поддержки</h2>
							<div class="activation-page__button">
								<button class="button button-fill" style="margin: 0px auto;" v-on:click="sendSupport"><span class="icons"></span><span class="txt">Отправить</span></button>
							</div>
						</div>
					</form>


				</f7-block>
			</div>
		</div>
    </f7-page>
</template>
<script>
    import UserInfo from '../service/user-info';
    import UserService from '../service/user';

    export default {
        data() {
            return {
                step: '',
                register: null,
                error: null,
                agree: false,
                support: {
                    contacts: '',
                    message: '',
                },
            };
        },
        async created() {
            var token = UserInfo.currentUser
                if (token){
                    this.register = true;
                }
        },
        methods:{
           async sendSupport(e){
                 e.preventDefault();
                var phone = this.support.contacts;
                if (!phone && !this.register){
                    this.error = 'phone';
                } else if (!this.support.message){
                    this.error = 'msg';
                } else {
                    const resp = await UserService.sendSupport(this.support);
                    this.error = null;
                    if (resp.success) {

                        this.step = 'success';
                        this.support.message = '';
                        this.support.contacts = '';
                    }

                }
            }
        }

    }
</script>