<template>
    <div>
        <a v-if="mode=='list'" @click="showInMap">Показать на карте</a>
        <a v-if="mode=='map'" @click="showInList">Списком</a>

        <ul class="catalog-item__info__adresses" v-if="mode=='list'">
            <li v-for="address in addresses">
                <div class="catalog-item__info__adresses__adr">{{address.address}}</div>
                <div class="catalog-item__info__adresses__contact">{{address.work_hours}} <span>/</span> {{address.phone}}</div>
            </li>
        </ul>
        <map-desktop v-if="mode=='map'" :addresses="addresses"></map-desktop>
    </div>

</template>
<script>

import config from '../config';

export default {
    props: ['addresses'],
    data() {
        return {
            mode: 'list',
            isApp: config.isApp
        };
    },
    components: {
        'map-desktop': require('./map-desktop.vue')
    },
    methods: {
        showInMap() {
            if(config.isApp) {
                this.showInMapApp()
            } else {
                this.showMapDesktop();
            }
        },
        showInMapApp() {
            this.$f7.views.main.router.load({url: '/map/' + JSON.stringify(this.addresses)});
            this.$emit('closed');
        },
        showMapDesktop() {
            this.mode = 'map';
        },
        showInList() {
            this.mode = 'list';
        }
    }
}
</script>