<template>
    <a href="#" class="item-content item-link">
        <div class="item-inner item-inner__category">
            <div class="category-item">
                <div class="category-item__media">
                    <i class="icon icon-svg" :style="{backgroundImage: 'url(' + category.image + ')'}"></i>
                </div>
                <div class="category-item__content">
                    <div class="category-item__inner">
                        <div class="category-item__title">
                            {{ category.title }}

                        </div>
                    </div>
                    <div class="category-item__desc">{{ category.sub_title }}</div>
                </div>
            </div>
        </div></a>
</template>
<script>
export default {
    props: ['category']
}
</script>