<template>
			<f7-list-item>
				<f7-label>Город</f7-label>
				<f7-input type="select" v-model="userInfo.city_id">
				<option v-for="item in cities" :value="item.id" :selected="userInfo.city_id===item.id">{{item.name}}</option>
				</f7-input>
			</f7-list-item>
</template>
<script>
export default {
    props: ['cities', 'userInfo'],
}
</script>