<template>
    <div>
		<div class="list-block">
			<ul class="promoevents__partners-list">
				<li v-for="pe in info.promoevents" v-if="pe.partner && pe.is_coupon">
					<div class="list-block">
						<a href="#" class="item-content item-link" @click="openPromoevent(pe)">
							<div class="coupon-list" :style="{backgroundImage: 'url(' + pe.coupon_img + ')'}">
								<div class="coupon-list__inner">
									<div v-if="pe.max_usage" class="coupon-list__inner__ostalos">
										Осталось: {{ pe.max_usage - pe.usages_count }}
									</div>
									<div class="coupon-list__inner__title">
										{{ pe.name }}
									</div>
									<div v-if="pe.end_date" class="coupon-list__inner__do">
										До: {{ formatDate(pe.end_date) }}
									</div>
									<div class="coupon-list__inner__desc">{{ pe.short_description }}</div>
								</div>
							</div>
						</a>

					</div>
				</li>
			</ul>
        </div>
    </div>
</template>
<script>
import config from '../config';
import moment from 'moment';
export default {
    props: ['info','group'],
    data() {
        return {
            currentPromoevent: null,
			isApp: config.isApp
        };
    },
    methods: {
        openPromoevent(promoevent) {
            this.currentPromoevent = promoevent;
			this.$f7.views.main.router.load({url: '/coupon/' + encodeURIComponent(JSON.stringify(this.currentPromoevent))});
			this.$emit('closed');
		},
		formatDate(date){
			return moment(date).format('DD.MM.YYYY');
		},
		closePromoevent() {
            this.currentPromoevent = null;
		},
        getCategoryPromoevents(category) {
            return this.info.promoevents.filter(pe => pe.partner.categories.indexOf(category.id) >= 0)
        },
        getPartnerCategoryIcon(partner) {
            if(partner.categories.length == 0)
                return partner.logo;
            const category = this.info.categories.find(x => x.id == partner.categories[0]);
            if(!category)
                return partner.logo;
            return category.image;
        },
    },
    components: {
        'category-list-item': require('./category-list-item'),
        'promoevent-info': require('./promoevent-info'),
    }
};
</script>