<template>
	<div class="coupon-page">
		<div class="coupon-list" :style="{backgroundImage: 'url(' + promoevent.coupon_img + ')'}">
			<div class="coupon-list__inner">
				<div v-if="promoevent.max_usage" class="coupon-list__inner__ostalos">
					Осталось: {{ promoevent.max_usage - promoevent.usages_count }}
				</div>
				<div class="coupon-list__inner__title">
					{{ promoevent.name }}
				</div>
				<div v-if="promoevent.end_date" class="coupon-list__inner__do">
					До: {{ formatDate(promoevent.end_date) }}
				</div>
				<div class="coupon-list__inner__desc">{{ promoevent.short_description }}</div>
			</div>
		</div>


		<div class="item-inner item-inner__category" style="padding: 21px 15px 82px;">
			<div class="category-item__title">Условия использования</div>
			<div class="category-item__description">{{ promoevent.description }}</div>
		</div>
		<f7-button class="coupon-page__del-but" @click="remove"></f7-button>
	</div>
</template>
<script>
import moment from 'moment';
import config from '../config';
import CabinetService from '../service/cabinet';

export default {
    props: ['promoevent'],
	data() {
        return {
			isApp: config.isApp
        }
    },
    methods: {
        remove() {
            CabinetService.removeCoupon(this.promoevent.id);
            this.$bus.$emit('coupon-removed', {id: this.promoevent.id});
            this.$router.back();
		},
		formatPhone(phone){
			return 'tel:+'+phone.replace(/[^\d]/g, '');
		},
        formatDate(date){
            return moment(date).format('DD.MM.YYYY');
        },
        actionTime(pe) {
           var days = pe.days_of_week,
			   start_time = pe.start_time,
			   end_time = pe.end_time,
			   start_date = pe.start_date,
			   end_date = pe.end_date,
			   str ='',
			   days_from = ['','С понедельника','С вторника','Со среды','С четверга','С пятницы','C субботы','C воскресенья'],
			   days_to = ['','по понедельник','по вторник','по среду','по четверг','по пятницу','по субботу','по восресенье'],
			   days_one = ['','По понедельникам','По вторникам','По средам','По четвергам','По пятницам','По субботам','По восресеньям'],
			   dates = ['','января','февраля','марта','апреля','мая','июня','июля','августа','сентября','октября','ноября','декабря'];

		if (days){
            if (days.length == 1){
                str = days_one[days[0]];
            }
            if (days.length == 2){
                str = days_from[days[0]] + ' ' +  days_to[[days[1]]];
            }
            if (days.length > 2 && days.length<7){
				var day_start = days[0];
				var day_stop = null;
				var j=1;
				for (var i = 0; i<days.length; i++){
				    var minus = days[i+1] - days[i];
				   if (minus == 1){j++;}
				}
				if (j == days.length){
                    str = days_from[days[0]] + ' ' +  days_to[[days[j-1]]];
				}else{
                    days.forEach(function(entry) {
                        var days =  moment({day:entry + 3}).locale('ru');
                        if (str == ''){
                            str  = days.locale('ru').format('dd');
                        }else {
                            str += ', ' + days.lang('ru').format('dd');
                        }
                    });
                    str = str.charAt(0).toUpperCase() + str.slice(1);
				}
            }
		}
		 if (start_time && end_time){
            if (str == ''){
                str = 'C ' + start_time + ' по ' + end_time;
			}else{
                str += ' с ' +start_time + ' по ' + end_time;
			}
		 }

		 if (str == '' && (start_date || end_date)){
		     if (start_date && !end_date){
		         str = 'С ' + moment(start_date).format('D') + ' ' + dates[moment(start_date).format('M')];
			 }
			 else if (!start_date && end_date){
                 str = 'До ' + moment(end_date).format('D') + ' ' + dates[moment(end_date).format('M')];
			 } else {
			     if (dates[moment(start_date).format('M')] == dates[moment(end_date).format('M')]){
                     str = 'C ' + moment(start_date).format('D') + ' по ' + moment(end_date).format('D') + ' ' + dates[moment(start_date).format('M')];
                 } else {
                     str = 'C ' + moment(start_date).format('D') + ' ' + dates[moment(start_date).format('M')] +  ' по ' + moment(end_date).format('D') + ' ' + dates[moment(end_date).format('M')];
				 }

			 }

		  }
		 return str;
        },
    },
    components: {
        addresses: require('./addresses.vue')
    }
};
</script>