<template>
    <form>
        <div class="list-block inputs-list"><ul>
        <f7-list-item>
            <f7-label><span>Выберите вашу карту</span></f7-label>
            <div class="activation-page__choice-card row">
                <div class="col-50"><img src="static/images/card.png" :class="{active: !isEcard}" @click="isEcard=false"></div>
                <div class="col-50"><img src="static/images/ecard.png" :class="{active: isEcard}" @click="isEcard=true"></div>
            </div>
        </f7-list-item>
        <transition :name="(manualMode || isEcard) ? 'left-right' : 'right-left'">
            <f7-list-item v-if="!manualMode && !isEcard" key="select">
                <!-- <f7-label>{{ title || 'Код, указанный на карте' }}</f7-label> -->
                <div class="item-input item-input-field">
                    <f7-buttons>
                        <f7-button fill color="blue" class="activation-page__scan-but" @click="barcodeScan"><span class="icons"></span><span class="txt">Сканировать штрих-код</span></f7-button>
                        <f7-button fill color="blue" class="activation-page__manual-but" @click="switchMode"><span class="icons"></span><span class="txt">Ввести номер вручную</span></f7-button>
                    </f7-buttons>

                </div>
            </f7-list-item>
            <f7-list-item v-if="manualMode || isEcard" key="manual">
                <f7-label>Код, указанный на карте</f7-label>
                <div class="item-input item-input-field">
                    <div :class="{row: !isApp}">
                        <div :class="{'col-75': !isApp}">
                            <input type="number" v-model="code" :placeholder="isEcard?'000000000':'0000000000000'" @keydown="inputKeyPress($event)">
                        </div>
                        <div :class="{'col-25': !isApp, 'item-input-field-buttons': isApp}">
                            <f7-buttons>
                                <f7-button fill color="blue" @click="switchMode" v-if="isApp && !isEcard"><span>Отмена</span></f7-button>
                                <f7-button fill color="blue" @click="next"><span>Далее</span></f7-button>
                            </f7-buttons>
                        </div>
                    </div>
                </div>
            </f7-list-item>
        </transition>
        </ul></div>
    </form>
</template>
<script>

import config from '../config';

export default {
    props: ['title'],
    data() {
        return {
            manualMode: !config.isApp,
            isEcard: false,
            code: '',
            isApp: config.isApp
        }
    },
    methods: {
        barcodeScan(){
            const permError = 'Необходим доступ к камере';
            try {
                var permissions = cordova.plugins.permissions;
                permissions.requestPermission(permissions.CAMERA, status => {
                    if (!status.hasPermission) {
                        alert(permError);
                        return;
                    }
                    cordova.plugins.barcodeScanner.scan(result => {
                            if (!result.cancelled) {
                                this.code = result.text;
                                this.next();
                            }
                        }, function (error) {
                            alert("Ошибка: " + error);
                        },
                        {
                            orientation : "portrait",
                            formats : "EAN_13"
                        }
                    );
                }, () => alert(permError));
            } catch(e) {
                alert(e);
            }
        },
        switchMode() {
            this.manualMode = !this.manualMode;
        },
        inputKeyPress(e) {
            if(e.keyCode == 13 || e.keyCode == 9) {
                document.activeElement.blur();
                e.preventDefault();
                this.next();
            }
        },
        next() {
            if(!this.code)
                return;

            const len = this.isEcard ? 9 : 13;
            if(this.code.length != len) {
                this.$emit('show-error', `Введите код, состоящий из ${len} цифр, указанный на карте`);
                return;
            }
            const code = this.isEcard ? `e-${this.code}` : this.code;
            this.$emit('code-received', code);
        }
    }
}
</script>