<template>
    <f7-panel left cover>
                <div class="menu-header">
                        <div class="menu-header__name">KARTA GO</div>
                        <div class="menu-header__city"><a href="/personal_data/" class="link close-panel">{{userInfo.city}}</a></div>
                </div>
        <div class="list-block list-block__menu">
                        <ul>
                                <li class="">
                                        <a href="/settings/" class="link close-panel">
                                                <div class="item-content">
                                                        <div class="item-media"><i class="fa fa-comment-o" aria-hidden="true"></i></div>
                                                        <div class="item-inner">
                                                                <div class="item-title">Уведомления</div>
                                                        </div>
                                                </div>
                                        </a>
                                </li>
                                <li class="" v-if="isApp">
                                        <a href="/barcode/" class="link close-panel">
                                                <div class="item-content">
                                                        <div class="item-media"><i class="fa fa-barcode" aria-hidden="true"></i></div>
                                                        <div class="item-inner">
                                                                <div class="item-title">Штрих-код</div>
                                                        </div>
                                                </div>
                                        </a>
                                </li>
                                <li class="">
                                        <a href="/history/" class="link close-panel">
                                                <div class="item-content">
                                                        <div class="item-media"><i class="fa fa-exchange" aria-hidden="true"></i></div>
                                                        <div class="item-inner">
                                                                <div class="item-title">История операций</div>
                                                        </div>
                                                </div>
                                        </a>
                                </li>
                                <li class="">
                                        <a href="/personal_data/" class="link close-panel">
                                                <div class="item-content">
                                                        <div class="item-media"><i class="fa fa-user-o" aria-hidden="true"></i></div>
                                                        <div class="item-inner">
                                                                <div class="item-title">Личные данные</div>
                                                        </div>
                                                </div>
                                        </a>
                                </li>
                                <li class="">
                                        <a href="/support/" class="link close-panel">
                                                <div class="item-content">
                                                        <div class="item-media"><i class="fa fa-life-ring" aria-hidden="true"></i></div>
                                                        <div class="item-inner">
                                                                <div class="item-title">Техподдержка</div>
                                                        </div>
                                                </div>
                                        </a>
                                </li>
                                
                                <li class="">
                                        <a href="/info/" class="link close-panel">
                                                <div class="item-content">
                                                        <div class="item-media"><i class="fa fa-question-circle-o" aria-hidden="true"></i></div>
                                                        <div class="item-inner">
                                                                <div class="item-title">Как это работает</div>
                                                        </div>
                                                </div>
                                        </a>
                                </li>
                                <li class="">
                                        <a @click="logout()">
                                                <div class="item-content">
                                                        <div class="item-media"><i class="fa fa-sign-out" aria-hidden="true"></i></div>
                                                        <div class="item-inner">
                                                                <div class="item-title">Выход</div>
                                                        </div>
                                                </div>
                                        </a>
                                </li>
                        </ul>
                </div>
    </f7-panel>
</template>
<script>
import UserService from '../service/user';
import UserInfo from '../service/user-info';
import CabinetService from '../service/cabinet';
import config from '../config';

export default {
    data() {
        return {
            isApp: config.isApp,
            userInfo: {
                city: null,
            },
        }
    },
    async created() {
        const info = await CabinetService.getInfo();
        const user = UserService.getUserInfo;
        this.userInfo.city = info.cities.find(x => x.id == user.city_id).name;
        this.$bus.$on('user-city-changed', () => {
            this.userInfo.city = info.cities.find(x => x.id == user.city_id).name;
        });
    },
    methods: {
        logout() {
            UserService.logout();
            this.$bus.$emit('activation-changed');
            if(config.isApp)
                this.$f7.views.main.router.load({url: '/activate/', reload: true});
        }
    }
};
</script>