<template>
    <div class="list-block accordion-list">
        <ul>
            <li class="accordion-item" v-for="lottery in info.lotteries" v-if="isShowLottery(lottery)">
                <a href="#" class="item-content item-link item-link_prize">
                <div class="item-inner item-inner__category item-inner__category_JOIN__">
                    <div class="category-item">
                        <div class="category-item__media">
                            <i  v-if="lottery.partner" class="icon icon-hamburger" :style="{backgroundImage: 'url(' + lottery.partner.logo + ')'}"></i>
                        </div>
                        <div class="category-item__content">
                            <div class="category-item__inner">
                                <div class="category-item__title" v-if="lottery.partner">
                                    {{ lottery.partner.name }}
                                </div>
                                <div class="category-item__title-after" v-if="lottery.lottery_type==constants.LOTTERY_TYPE_DATE">
                                    через {{ daysLeft(lottery.lottery_type_date) }} дней
                                </div>

                            </div>
                            <div class="category-item__prize">Приз: <span>{{ lottery.name }}</span></div>
                            <div v-if="lottery.cost_of" class="category-item__cond">Участие: <span>{{lottery.cost_of}} купонов</span></div>
                        </div>
                    </div>
                </div></a>
                <div class="accordion-item-content">
                    <div class="lottery-list__desc">
                        <div class="lottery-list__desc__time" v-if="lottery.lottery_type==constants.LOTTERY_TYPE_DATE">
                            До розыгрыша {{ daysLeft(lottery.lottery_type_date) }} дней!
                        </div>
                        <div class="lottery-list__desc__time">
                            Участников {{lottery.count_participate}} <span  v-if="lottery.lottery_type==constants.LOTTERY_TYPE_COUNT">из {{ lottery.lottery_type_count }}</span>
                        </div>
                            <div v-if="lottery.can_participate"  class="lottery-list__desc__button">
                            <button class="button button-fill color-green" @click="participate_lottery($event,lottery)">Участвовать в лотерее</button>
                            </div>
                        <div class="lottery-list__desc__info">
                            <div class="lottery-list__desc__info__txt">
                                {{ lottery.description }}
                            </div>
                            <div class="lottery-list__desc__info__img">
                                <img v-if="lottery.image" :src="lottery.image" />
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>

        <div class="promo-lottery" v-if="lottery_month" @click="participate_lottery($event,lottery_month,true)">
            <div class="promo-lottery__name" >
                Лотерея месяца
            </div>
            <div class="promo-lottery__desc">
                {{lottery_month.name}}
            </div>
            <div class="promo-lottery___count">
                <div v-if="lottery_month.cost_of">Участие: <span>{{lottery_month.cost_of}} купонов</span></div>
            </div>
            <div v-if="lottery_month.used">Вы приняли участие в лотерее месяца</div>
        </div>
        <f7-popup :opened="!!error" class="popup-dark">
            <div class="popup-alert">
                <p class="popup-dark__message">{{ error }}</p>
                <p class="popup-dark__button"><f7-button big fill color="gray" @click="error=null">Закрыть</f7-button></p>
            </div>
        </f7-popup>
    </div>

</template>
<script>

import CabinetService from '../service/cabinet';
import moment from 'moment';
export default {
    props: ['info','userInfo','lottery_month'],
    data() {
        return {
            constants: CabinetService,
            error: null,
        }
    },
    methods: {
        daysLeft(dt) {
            return dt.diff(moment(), 'days');
        },
        isShowLottery(lottery) {
            if (lottery.lottery_month){
                this.lottery_month = lottery;
                return false;
            }
            if(lottery.lottery_type==CabinetService.LOTTERY_TYPE_DATE && this.daysLeft(lottery.lottery_type_date) < 0)
            {
                return false;
            }

            return true;
        },
        async participate_lottery(e,lottery,month){
            e.preventDefault();
            if (this.userInfo.balance < lottery.cost_of){
                this.error = 'На балансе не достаточно баллов для участия в лотерее!';
                return;
            }
            if (lottery.can_participate === true){
                const resp = await CabinetService.participate(lottery);
                if(resp.success) {
                    if (month){
                        this.lottery_month.used = true;
                        this.lottery_month.can_participate = false;
                    }else{
                        lottery.can_participate = false;
                        lottery.count_participate = resp.count_participate;
                    }
                    this.userInfo.balance = resp.balance;
                }
            }

        }
    }
};
</script>