<template>
    <div :id="mapId" style="height: 300px"></div>
</template>

<script>

import _ from 'lodash';

export default{
    props: ['addresses'],
    data() {
        const id = Math.round(Math.random() * 100000);
        return {
            uniqueId: id,
            mapId: `yamap-${id}`
        };
    },
    mounted() {
        if(!window.ymaps) {
            this.initYandexMap();
        } else {
            this.displayMap();
        }
    },
    methods: {
        initYandexMap() {
            const callbackName = 'yamapCallback_' + this.uniqueId;
            window[callbackName] = () => this.displayMap();
            var script = document.createElement('script');
            script.setAttribute('src', 'https://api-maps.yandex.ru/2.1/?lang=ru_RU&onload=' + callbackName);
            script.setAttribute('type', 'text/javascript');
            document.body.appendChild(script);
        },
        displayMap() {


            const map = new ymaps.Map(this.mapId, {
                center: [_.mean(_.map(this.addresses, 'coordinates[0]')), _.mean(_.map(this.addresses, 'coordinates[1]'))],
                zoom: 11
            });
            this.addresses.forEach(address => {
                const placemark = new ymaps.Placemark(address.coordinates, {
                    balloonContent: this.createBaloonContent(address)
                });
                map.geoObjects.add(placemark);
            });
        },
        createBaloonContent: function (address) {
            let res = `<b>${address.address}</b>`;
            let add = [];
            if(address.work_hours)
                add.push(address.work_hours);
            if(address.phone)
                add.push(address.phone);
            if(add.length) {
                res += '<br>' + add.join(' // ');
            }
            return res;
        },
    }
}
</script>
