<style>
	.notices-choice ul {
		padding-left: 0px !important;
	}
	.notices-categories ul {
		padding-left: 20px !important;
	}
</style>
<template>
	<f7-list>
		<f7-list-item>
			<f7-label>Периодичность</f7-label>
			<f7-input type="select" v-model="userInfo.notifications">
				<option value="1">Не чаще одного раза в день</option>
				<option value="2">Не чаще одного раза в неделю</option>
				<option value="3">Не чаще одного раза в месяц</option>
				<option value="4">Не получать уведомления</option>
			</f7-input>
		</f7-list-item>

		<f7-list-item>
			<transition name="fade-up">
				<div v-if="userInfo.notifications < 4 && categories">
					<f7-label>Получать уведомления</f7-label>

					<f7-list class="notices-choice">
						<li>
							<label class="label-radio item-content">
								<input type="radio" name="notice-radio"  @change="onNoticeChange($event)" value="1" v-model="notices">
								<div class="item-media">
									<i class="icon icon-form-radio"></i>
								</div>
								<div class="item-inner">
									<div class="item-title">обо всех акциях</div>
								</div>
							</label>
						</li>
						<li>
							<label class="label-radio item-content">
								<input type="radio" name="notice-radio"  value="2" v-model="notices" @change="onNoticeChange($event)">
								<div class="item-media">
									<i class="icon icon-form-radio"></i>
								</div>
								<div class="item-inner">
									<div class="item-title">из выбранных разделов</div>
								</div>
							</label>
						</li>
						<transition name="fade-up">
							<f7-list class="notices-categories" v-if="notices == 2">
								<li v-for="item in categories" :key="item.id">
									<label class="label-checkbox item-content">
										<input type="checkbox" :value="item.id" v-model="userInfo.categs">
										<div class="item-media">
											<i class="icon icon-form-checkbox"></i>
										</div>
										<div class="item-inner">
											<div class="item-title">{{item.title}}</div>
										</div>
									</label>
								</li>
							</f7-list>
						</transition>
					</f7-list>
				</div>
			</transition>
		</f7-list-item>

	</f7-list>
</template>
<script>
export default {
    props: ['categories', 'userInfo'],
	data(){
		return{
			notices: 1,
		}		
	},
	created(){
		this.notices = this.userInfo.categs.length>0 ? 2 : 1;
	},
	methods: {
        onNoticeChange(e) {
            this.notices = e.target.value;
            if(this.notices == 1) {
                this.userInfo.categs = [];
			}
		}
	}	
}

</script>