<template>
    <div>
        <div class="list-block accordion-list" v-if="group">
            <ul>
                <li class="accordion-item" v-for="category in info.categories" v-if="getCategoryPartners(category).length>0">
                    <category-list-item :category="category"></category-list-item>
                    <div class="accordion-item-content">
                        <div class="content-block">
                            <ul>
                                <li v-for="partner in getCategoryPartners(category)">
                                    <a class="item-content" @click="openPartner(partner)">
                                        <div class="item-inner item-inner__category">
                                            <div class="category-item">
                                                <div class="category-item__media">
                                                    <i class="icon icon-hamburger icon-hamburger-partner-logo" :style="{backgroundImage: 'url(' + partner.logo + ')'}"></i>
                                                </div>
                                                <div class="category-item__content">
                                                    <div class="category-item__inner">
                                                        <div class="category-item__title">
                                                            {{ partner.name }}
                                                        </div>
                                                    </div>
                                                    <div class="category-item__desc">{{ partner.sub_title }}</div>
													<div class="category-item__desc category-item__desc_cashback">Cashback: <b>{{ parseFloat(partner.bonus_percent) }}%</b></div>
                                                </div>
                                            </div>
                                        </div>
                                    </a>

                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
		<div class="list-block" v-else>
			<ul>
				<li v-for="partner in info.partner">
					<a class="item-content" @click="openPartner(partner)">
						<div class="item-inner item-inner__category">
							<div class="category-item">
								<div class="category-item__media">
									<i class="icon icon-hamburger" :style="{backgroundImage: 'url(' + getPartnerCategoryIcon(partner) + ')'}"></i>
								</div>
								<div class="category-item__content">
									<div class="category-item__inner">
										<div class="category-item__title">
											{{ partner.name }}
										</div>
									</div>
									<div class="category-item__desc">{{ partner.sub_title }}</div>
                                    <div class="category-item__desc category-item__desc_cashback">Cashback: <b>{{ parseFloat(partner.bonus_percent) }}%</b></div>
								</div>
							</div>
						</div>
					</a>

				</li>
			</ul>
        </div>
        <f7-popup v-if="!isApp" :opened="currentPartner != null" class="popup__centered"  @popup:closed="closePartner">
			<div class="popup__centered__inner">
				<div class="popup__centered__content">
					<partner-info :partner="currentPartner" :info="info" v-if="currentPartner != null" @closed="closePartner"></partner-info>
				</div>
			</div>
        </f7-popup>
    </div>
</template>
<script>
import config from '../config';
export default {
    props: ['group','info'],
    data() {
        return {
            currentPartner: null,
			isApp: config.isApp
        };
    },
    methods: {
        getCategoryPartners(category) {
            return this.info.partner.filter(partner => partner.categories.indexOf(category.id) >= 0)
        },
        getPartnerCategoryIcon(partner) {
            if(partner.categories.length == 0)
                return partner.logo;
            const category = this.info.categories.find(x => x.id == partner.categories[0]);
            if(!category)
                return partner.logo;
            return category.image;
        },
        openPartner(partner) {
			this.currentPartner = partner;
			if(this.isApp){
				this.$f7.views.main.router.load({url: '/partner/' + encodeURIComponent(JSON.stringify(this.currentPartner))});
				this.$emit('closed');
			}
        },
        closePartner() {
            this.currentPartner = null;
        }
    },
    components: {
        'category-list-item': require('./category-list-item'),
        'partner-info': require('./partner-info')
    }
};
</script>