<template>
    <div>
		<div class="item-inner item-inner__category">
			<div class="partner-info-logo" :style="{backgroundImage: 'url(' + partner.logo + ')'}"></div>
			<div class="category-item">
				<div class="category-item__content">
					<div class="category-item__inner">
						<div class="category-item__title">
							{{ partner.name }}
						</div>
					</div>
					<div v-if="partner.url" class="category-item__url">
						<a :href="partner.url" target="_blank" class="link external">{{ partner.url }}</a>
					</div>
					<div v-if="partner.phone" class="category-item__phone">
						<a :href="formatPhone(partner.phone)" target="_blank" class="link external">{{ partner.phone }}</a>
					</div>
					<div class="category-item__desc category-item__desc_more" @click="showDescription=true">{{ partner.pre_description }}</div>
					<div class="category-item__desc" v-if="showDescription">{{ partner.description }}</div>
					<div class="category-item__desc category-item__desc_cashback">Cashback: <b>{{ parseFloat(partner.bonus_percent) }}%</b></div>
				</div>
			</div>
		</div>
		<div class="catalog-item__info">
			<div class="catalog-item__info__head" v-if="false">
				<div class="catalog-item__info__head__city">
					Екатеринбург
				</div><!-- Зачем это тут? -->
				<div class="catalog-item__info__head__button">
					<button class="button button-fill color-purple">Акция</button>
				</div>
				<div class="catalog-item__info__head__button">
					<button class="button button-fill color-purple">Лотерея</button>
				</div>
			</div>
			<addresses :addresses="partner.address" @closed="close"></addresses>
		</div>
		<f7-button fill color="orange" @click="close">Закрыть</f7-button>
    </div>
</template>
<script>
import config from '../config';
export default {
    props: ['partner', 'info'],
	data() {
        return {
			isApp: config.isApp,
			showDescription: false
        }
    },
    computed: {
        categoryName() {
            return this.info.categories
                .filter(category => this.partner.categories.indexOf(category.id) >= 0)
                .map(category => category.title)
                .join(', ');
        }
    },
    methods: {
        close() {
            this.isApp ? this.$router.back() : this.$emit('closed');
        },
		formatPhone(phone){
			return 'tel:+'+phone.replace(/[^\d]/g, '');
		}
    },
    components: {
        addresses: require('./addresses.vue')
    }
};
</script>