<template>
    <div>

		<div class="list-block">
			<ul class="promoevents__partners-list">
				<li v-for="pe in info.promoevents" v-if="pe.partner">
					<div class="list-block">
						<a href="#" class="item-content item-link" @click="openPromoevent(pe)">
							<div class="coupon-list" :style="{backgroundImage: 'url(' + pe.coupon_img + ')'}">
								<div class="coupon-list__partner" :style="{backgroundColor: pe.top_label_color}"><span>{{ pe.partner.name }}</span></div>
								<div class="coupon-list__inner" :style="{backgroundColor: pe.bottom_label_color}">
									<div class="coupon-list__inner__desc">{{ pe.short_description }}</div>
								</div>
							</div>
						</a>

					</div>
				</li>
			</ul>
        </div>
		<f7-popup v-if="!isApp" :opened="currentPromoevent != null" class="popup__centered" @popup:closed="closePromoevent">
			<div class="popup__centered__inner">
				<div class="popup__centered__content">
					<promoevent-info v-if="currentPromoevent != null" :promoevent="currentPromoevent" @closed="closePromoevent"></promoevent-info>
				</div>
			</div>
		</f7-popup>
    </div>
</template>
<script>
import config from '../config';
export default {
    props: ['info','group'],
    data() {
        return {
            currentPromoevent: null,
			isApp: config.isApp
        };
    },
    methods: {
        openPromoevent(promoevent) {
            this.currentPromoevent = promoevent;
			if(this.isApp){
				this.$f7.views.main.router.load({url: '/promoevent/' + encodeURIComponent(JSON.stringify(this.currentPromoevent))});
				this.$emit('closed');
			}
		},
        closePromoevent() {
            this.currentPromoevent = null;
		},
        getCategoryPromoevents(category) {
            return this.info.promoevents.filter(pe => pe.partner.categories.indexOf(category.id) >= 0)
        },
        getPartnerCategoryIcon(partner) {
            if(partner.categories.length == 0)
                return partner.logo;
            const category = this.info.categories.find(x => x.id == partner.categories[0]);
            if(!category)
                return partner.logo;
            return category.image;
        },
    },
    components: {
        'category-list-item': require('./category-list-item'),
        'promoevent-info': require('./promoevent-info'),
    }
};
</script>