<template>
	<div>
		<div class="coupon-list" :style="{backgroundImage: 'url(' + promoevent.coupon_img + ')'}">
			<div class="coupon-list__partner" :style="{backgroundColor: promoevent.top_label_color}"><span>{{ promoevent.partner.name }}</span></div>
			<div class="coupon-list__inner" :style="{backgroundColor: promoevent.bottom_label_color}">
				<div class="coupon-list__inner__desc">{{ promoevent.short_description }}</div>
			</div>
		</div>
		<div class="item-inner item-inner__category">
			<div class="category-item">
				<div class="category-item__content">
					<div class="category-item__inner category-item__inner__info">
						<div class="category-item__title">
							{{ actionTime(promoevent) }}
						</div>
					</div>
				</div>
			</div>
			<div class="category-item__description">{{ promoevent.description }}</div>
		</div>
		<div class="category-item__inner__info"><f7-button fill color="orange" @click="showPartner">Контакты и карта</f7-button></div>
	</div>
</template>
<script>
    import moment from 'moment';
	import config from '../config';
export default {
    props: ['promoevent'],
	data() {
        return {
			isApp: config.isApp
        }
    },
    methods: {
        close() {
            this.isApp ? this.$router.back() : this.$emit('closed');
		},
		formatPhone(phone){
			return 'tel:+'+phone.replace(/[^\d]/g, '');
		},
        showPartner() {
            this.$f7.views.main.router.load({url: '/partner/' + encodeURIComponent(JSON.stringify(this.promoevent.partner))});
		},
        actionTime(pe) {
           var days = pe.days_of_week,
			   start_time = pe.start_time,
			   end_time = pe.end_time,
			   start_date = pe.start_date,
			   end_date = pe.end_date,
			   str ='',
			   days_from = ['','С понедельника','С вторника','Со среды','С четверга','С пятницы','C субботы','C воскресенья'],
			   days_to = ['','по понедельник','по вторник','по среду','по четверг','по пятницу','по субботу','по восресенье'],
			   days_one = ['','По понедельникам','По вторникам','По средам','По четвергам','По пятницам','По субботам','По восресеньям'],
			   dates = ['','января','февраля','марта','апреля','мая','июня','июля','августа','сентября','октября','ноября','декабря'];

		if (days){
            if (days.length == 1){
                str = days_one[days[0]];
            }
            if (days.length == 2){
                str = days_from[days[0]] + ' ' +  days_to[[days[1]]];
            }
            if (days.length > 2 && days.length<7){
				var day_start = days[0];
				var day_stop = null;
				var j=1;
				for (var i = 0; i<days.length; i++){
				    var minus = days[i+1] - days[i];
				   if (minus == 1){j++;}
				}
				if (j == days.length){
                    str = days_from[days[0]] + ' ' +  days_to[[days[j-1]]];
				}else{
                    days.forEach(function(entry) {
                        var days =  moment({day:entry + 3}).locale('ru');
                        if (str == ''){
                            str  = days.locale('ru').format('dd');
                        }else {
                            str += ', ' + days.lang('ru').format('dd');
                        }
                    });
                    str = str.charAt(0).toUpperCase() + str.slice(1);
				}
            }
		}
		 /*if (start_time && end_time){
            if (str == ''){
                str = 'C ' + start_time + ' по ' + end_time;
			}else{
                str += ' с ' +start_time + ' по ' + end_time;
			}
		 }*/

		 if (str == '' && (start_date || end_date)){
		     if (start_date && !end_date){
		         str = 'С ' + moment(start_date).format('D') + ' ' + dates[moment(start_date).format('M')];
			 }
			 else if (!start_date && end_date){
                 str = 'До ' + moment(end_date).format('D') + ' ' + dates[moment(end_date).format('M')];
			 } else {
			     if (dates[moment(start_date).format('M')] == dates[moment(end_date).format('M')]){
                     str = 'C ' + moment(start_date).format('D') + ' по ' + moment(end_date).format('D') + ' ' + dates[moment(start_date).format('M')];
                 } else {
                     str = 'C ' + moment(start_date).format('D') + ' ' + dates[moment(start_date).format('M')] +  ' по ' + moment(end_date).format('D') + ' ' + dates[moment(end_date).format('M')];
				 }

			 }

		  }
		 return str;
        },
    },
    components: {
        addresses: require('./addresses.vue')
    }
};
</script>