/*
   statusbar-overlay sets the background color for the overlay. Black text is the default when the statusbar plugin is not added. When the
   statusbar plugin is added, it also adds default setting to make the content white via:

       <preference name="StatusBarStyle" value="lightcontent"/>

   Setting the background color to black will allow the default light content (white text/icons) to show on it. The statusbar plugin is included
   in the config.xml file and will be added by the CLI when you build locally.

   See https://github.com/apache/cordova-plugin-statusbar
*/
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700&subset=cyrillic');

body {
	background: url(/static/images/background.png) 50% top repeat;
	font-family: 'Roboto Condensed', sans-serif;
}

.with-statusbar-overlay #framework7-root {
    background-color: #2f1a1f;
}

.with-statusbar-overlay body {
    background-color: #2f1a1f;
}

.with-statusbar-overlay .views{
    background: #2f1a1f;
    /*padding-top:1px;
    margin-top:-1px;*/
}

.with-statusbar-overlay .page{
    background: #2f1a1f;
}

.with-statusbar-overlay .page-white{
    background: #fff;
}


.button.button-fill.color-blue {
	width: 100%;
    height: 44px;
    line-height: 44px;
    text-transform: none;
    background: #1e94ee!important;
    -webkit-box-shadow: inset 0 7px 0 0 #1e94ee;
    box-shadow: inset 0 7px 0 0 #1e94ee;
    border-bottom: solid 2px #1e94ee;
    -webkit-border-radius: 7px;
    border-radius: 7px;
    margin-top: 0;
    margin-bottom: 0;
}
.framework7-root {
	max-width: 1140px;
	margin: 0 auto;
	-webkit-box-shadow: 0 0 51px 0 rgba(0,54,255,0.46);
    box-shadow: 0 0 51px 0 rgba(0,54,255,0.46);
}


.panel {
	width: 90%;
}
.navbar-fixed-with-ball .page-content {
    padding-top: 130px;
}
.toolbar-fixed-with-ball  .page-content {
    padding-top: 178px;
}
@media (min-width: 1280px) {
	.toolbar-fixed-with-ball .page-content {
		margin-left: 30%;
		padding-top: 0;
	}
}
.navbar {
	background: #1e94ee;
}
.navbar__barcode {
	background: url(/static/images/barcode.png) left bottom no-repeat;
	background-size: contain;
	width: 36px; height: 26px; display: inline-block;
}
.navbar__with-ball {
    height: 178px;
    background: url(/static/images/wp.png) left bottom no-repeat;
	background-size: 200%;
	transition: 0.5s;
}
.navbar__with-ball-1 {
    background-position: left bottom;
	background-size: 200%;
}
.navbar__with-ball-2 {
    background-position: center bottom;
	background-size: 200%;
}
.navbar__with-ball-3 {
    background-position: right bottom;
	background-size: 200%;
}
@media (min-width: 1280px) {
	.navbar__with-ball-1,.navbar__with-ball-2,.navbar__with-ball-3 {
		width: 30%; height: 100%;
		background-size: cover;
	}
}
/*.tab:nth-child(2) .navbar__with-ball {
	height: 130px;
	background: url(../images/bg.jpg) 50% 35% no-repeat;
}
.tab:nth-child(3) .navbar__with-ball {
	height: 130px;
	background: url(../images/bg.jpg) 8% 33% no-repeat;
}*/
.navbar__with-ball .navbar-inner:first-child {
    height: 56px;
	z-index: 1;
}
.navbar__with-ball .navbar-inner:last-child {
    height: auto; max-height: 74px;
    top: 56px;
    overflow: visible;
}
@media (min-width: 1280px) {
	.navbar__with-ball .navbar-inner:last-child {
		height: calc(100vh - 56px); max-height: calc(100vh - 56px);
		top: 56px;
		overflow: visible;
		vertical-align: top;
		display: block;
	}
}
.navbar__with-ball .navbar-inner:last-child .left {
	width: 60%;
}
.navbar__with-ball .navbar-inner:last-child .right {
	width: 40%;
}

.navbar__logo  {
    width: 100%;
	margin: 0px 0 0 19px;
}
.navbar__logo  img {
	width: 100%;
	max-width: 170px;
}
@media (min-width: 1280px) {
	.navbar__logo {
		width: 50%;
		text-align: center;
		margin: 0 auto;
	}
}
.navbar-balls {
    padding: 0 0;
    text-align: center;
    margin-top: -40px;
	margin-left: auto;
}

.navbar-activate-link {
	text-align: center;
	width: 100%;
}

.navbar-activate-link a {
	color: #fff;
	font-size: 1.5em;
}

@media (min-width: 1280px) {
	.navbar .right {
		position: absolute; bottom: 20px; right: 0; left: auto;
		text-align: center;
	}
	.navbar-balls {
		margin: 0 auto;
	}
}
.navbar-balls__title {
	font-size: 15px; color: #fff;
	text-align: left;
}
.navbar-balls__procent-title {
	font-size: 14px; color: #fff;
	text-align: left;
	text-transform: uppercase;
}
.navbar-balls__procent-item {
	background: #fff;
	padding: 2px;
	border-radius: 4px 0 0 4px;
	margin-bottom: 3px;
	margin-right: 0;
}
.navbar-balls__procent-item div {
	background: #ff7920; height: 5px;
	border-radius: 2px;
}
.navbar-balls__count {
	background: #fff;
	border-radius: 7px;
	display: flex;
	align-items: center;
	margin-right: -10px;
	min-width: 116px;
}
.navbar-balls__count__item {
    font-size: 40px;
	color: #1c6646;
	padding: 0 0 0 10px;
	margin-right: -10px;
}
.navbar-balls__unit {
    font-size: 12px;
	-webkit-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg); 
	transform: rotate(-90deg);
	color: #1c6646;
}
.navbar-balls__plus {
	font-size: 12px; color: #fff;
	text-align: center;
	padding-top: 2px;
}

.toolbar {
    /*background: url(/static/images/menu.png) 50% 50% no-repeat;
    background-size: cover;*/
	background: transparent;
}
.toolbar.toolbar-fixed-with-ball {
    top: 130px; left: 0; right: 0;
	z-index: 500;
}

.navbar.navbar-hidden.navbar__with-ball {
    -webkit-transform: translate3d(0,-130px,0);
    transform: translate3d(0,-130px,0);
}

.navbar.navbar-hidden~.subnavbar, .navbar.navbar-hidden~.toolbar.toolbar-fixed-with-ball:not(.messagebar):not(.toolbar-bottom) {
    -webkit-transform: translate3d(0,-130px,0);
    transform: translate3d(0,-130px,0);
}

@media (min-width: 1280px) {
	.toolbar.toolbar-fixed-with-ball {
		width: 30%;
		top: 190px; left: 0; right: 0;
		z-index: 500;
		overflow: auto;
		height: auto;
	}
	.toolbar.toolbar-fixed-with-ball .toolbar-inner {
		display: block;
		height: auto;
		position: relative;
	}
	.toolbar.toolbar-fixed-with-ball a.tab-link {
		height: 48px;
	}
	.tab-link-highlight {
		display: none;
	}
}
.tabbar a.tab-link {
    color: #fff;
	background: RGBA(0,0,0,0.3);
	font-size: 20px;
}
.tabbar a.tab-link.active, .tabbar a.tab-link.active-state, html:not(.watch-active-state) .tabbar a.tab-link:active {
    background: RGBA(255,255,255,1);
	color: #bd1f25;
}

.list-block .item-content {
	padding: 0;
}
.list-block .item-inner {
	padding-left: 16px;
}	
.list-block .accordion-item-expanded .accordion-item-toggle .item-inner:after, .list-block .accordion-item-expanded>.item-link .item-inner:after {
	background-color: rgba(0,0,0,1);
    background: #b3b3b3;
}
.list-block li:last-child .item-inner:after, .list-block li:last-child li:last-child .item-inner:after {
	display: block;
}
.content-block {
    margin: 0;
	padding: 0;
}
@media (min-width: 1280px) {
	.promoevents__partners-list {
		display: flex;
		flex-wrap: wrap;
	}
	.promoevents__partners-list>li {
		width: 50%;
	}
	.promoevents__partners-list>li .list-block .item-link .item-inner {
		background: none;
	}
}
.list-block {
    margin: 0;
}
.list-block.inputs-list .label {
	font-size: 16px;
}
.list-block.inputs-list .label .validate-error {
	font-size: 16px;
}
.list-block input[type=date], .list-block input[type=datetime-local], .list-block input[type=email], .list-block input[type=number], .list-block input[type=password], .list-block input[type=search], .list-block input[type=tel], .list-block input[type=text], .list-block input[type=time], .list-block input[type=url], .list-block select, .list-block textarea {
	font-size: 22px; height: 48px;
}
.list-block.inputs-list .label-radio .item-media {
	/*display: block;*/
	/*min-height: 1px;*/
	padding-top: 2px;
	min-width: 22px;
}
.list-block.inputs-list .label-radio .item-inner {
	padding-left: 0px;
}


.list-block ul:before {
    display: none;
}
.list-block .item-inner.item-inner__category:after {
    background-color: rgba(0,0,0,1);
    background: #b3b3b3;
}
.item-inner__category {
	display: block !important;
}
.item-inner__category_JOIN:before {
	content: '';
	width: 34px; height: 24px;
	background: url(/static/images/galocka.png);
	position: absolute; right: 16px; top: 57px;
}
.category-item {
    width: 100%;
    min-height: 48px;
    box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    margin: 0 0 5px 0;
}
.category-item__media {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-flex: 0;
    -webkit-flex-shrink: 0;
    -ms-flex: 0 0 auto;
    flex-shrink: 0;
    -webkit-box-lines: single;
    -moz-box-lines: single;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: none;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    box-sizing: border-box;
    padding-top: 0px;
    padding-bottom: 0px;
    min-width: 40px;
    width: 20%;
	text-align: center;
}
.category-item__content {
    position: relative;
    width: 100%;
    box-sizing: border-box;
}
.category-item__media+.category-item__content {
    padding-left: 16px;
	width: 80%;
}

.category-item__inner {
    position: relative;
    width: 100%;
    padding-top: 4px;
    padding-bottom: 0;
    box-sizing: border-box;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    min-width: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    -ms-flex-item-align: stretch;
    -webkit-align-self: stretch;
    align-self: stretch;
}
.category-item__title {
    min-width: 0;
    -webkit-box-flex: 1;
    -webkit-flex-shrink: 1;
    -ms-flex: 0 1 auto;
    flex-shrink: 1;
    white-space: nowrap;
    position: relative;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
	color: #000;
    font-size: 16px; font-weight: bold;
}
.category-item__title-after {
    white-space: nowrap;
    color: #757575;
    -webkit-box-flex: 0;
    -webkit-flex-shrink: 0;
    -ms-flex: 0 0 auto;
    flex-shrink: 0;
    margin-left: 8px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    max-height: 28px;
    font-size: 14px;
}
.icon-svg {
	width: 36px;
    height: 36px;
    border-radius: 3px;
    background-size: contain!important;
	margin: 0 auto;
}
.icon-hamburger {
    width: 36px;
    height: 36px;
    background-image: url(/static/images/hamburger.png);
    border-radius: 3px;
    background-size: contain!important;
	margin: 0 auto;
}

.icon-hamburger-partner-logo {
    width: 76px;
    height: 76px;
}

.icon-sumka {
    width: 36px;
    height: 36px;
    background-image: url(/static/images/sumka.png);
    border-radius: 3px;
    background-size: contain!important;
	margin: 0 auto;
}
.icon-cart {
    width: 36px;
    height: 36px;
    background-image: url(/static/images/cart.png);
    border-radius: 3px;
    background-size: contain!important;
	margin: 0 auto;
}
.icon-jewerly {
    width: 36px;
    height: 36px;
    background-image: url(/static/images/jewerly.png);
    border-radius: 3px;
    background-size: contain!important;
	margin: 0 auto;
}
.partner-info-logo {
    height: 60px;
    background-size: contain!important;
    background-repeat: no-repeat;
    margin: 0 auto;
    background-position: center center;
    width: 100%;
    margin-top: 20px;
}
.category-item__custom-ico {
    font-size: 32px; color: #c80651;
    display: block; text-align: center;
	margin: 0 auto;
}
.category-item__custom-ico img {
	max-width: 48px;
}
.category-item__desc {
    font-size: 16px; color: #555555;
}
.category-item__desc_cashback {
	color: #c92159;
}

.category-item__desc_more {
    padding-right: 30px;
    background: url(/static/images/more-info.png) right center no-repeat;
}

.category-item__prize {
    font-size: 16px; color: #000;
}
.category-item__prize span {
    color: #de350d; font-weight: bold;
}
.category-item__cond {
    font-size: 16px; color: #000;
}
.category-item__cond span {
    
}

.item-link_prize {
	
}
.list-block .item-link.item-link_prize .item-inner {
    padding-right: 16px;
    background-image: none;
}
.list-block:not(.media-list) .accordion-item-expanded:not(.media-item)>.item-link.item-link_prize .item-inner {
    background-image: none;
}

.lottery-list__desc {
	text-align: center;
	background: #fff8ea;
	border-bottom: solid 1px #d8d7d5;
}
.lottery-list__desc__time {
	font-size: 24px;
	color: #e24926;
	padding: 20px 0 0; font-weight: bold;
}
.lottery-list__desc__count {
	font-size: 24px;
	color: #e24926;
	padding: 0 0 20px;
}

.button.button-fill.bg-green, .button.button-fill.color-green {
	background: #2b8941!important;
}
.lottery-list__desc__button {
	padding: 0 0 30px;
	border-bottom: solid 1px #d8d7d5;
}
.lottery-list__desc button {
	display: inline-block;
	font-size: 24px;
	border-bottom: solid 3px #1b5d2a;
	text-transform: none;
	border-radius: 4px;
	padding: 10px 20px;
	height: auto;
}
.lottery-list__desc__info {
	display: flex;
	padding: 20px 0 20px;
	background: #fff;
}
.lottery-list__desc__info__txt {
	width: 66%;
	text-align: left;
	padding: 0 16px;
	font-size: 16px;
}
.lottery-list__desc__info__img {
	width: 34%;
	padding: 0 16px;
}
.lottery-list__desc__info__img img {
	max-width: 100%;
}

.promo-lottery {
	background: #e16526; color: #FFF;
	padding: 10px 16px;
	margin: 10px 0 0;
}
.promo-lottery__name {
	font-size: 16px; font-weight: bold;
}
.promo-lottery__desc {
	font-size: 16px; font-weight: bold;
}
.promo-lottery__count {
	font-size: 16px;
}

.accordion-item-content {
	background: #fff8ea;
	
}
.accordion-item-content .accordion-item-content {
	background: #fbeac8;
}
/*.accordion-item-content > .content-block {
	border-top: solid 1px #cccccc;
	border-bottom: solid 1px #cccccc;
}*/
.category-item__inner__info {
	padding-right: 16px;
	padding-left: 16px;
}
.category-item__description {
	padding-right: 16px;
	padding-left: 16px;
	padding-bottom: 23px;
}

.item-content__about .category-item__title {
	color: #2b8941; font-weight: bold;
}
.item-content__about .category-item__desc {
	font-weight: bold;
}

.catalog-item__info {
	background: #fff8ea;
	border-bottom: solid 1px #d8d7d5;
	padding: 20px 16px 20px;
}
.catalog-item__info__head {
	display: flex;
	padding: 0 0;
}
.catalog-item__info__head__city {
	width: 100%;
	font-size: 16px; font-weight: bold;
	padding: 6px 0 0;
}
.catalog-item__info__head__button {
	font-size: 16px; padding-left: 7px;
}
.catalog-item__info__adresses {
	list-style: none; margin: 0; padding: 0 0;
	font-size: 16px;
}
.catalog-item__info__adresses>li {
	margin: 10px 0 0;
}
.catalog-item__info__adresses__adr {
	color: #870072;
}
.catalog-item__info__adresses__contact {
	
}
.catalog-item__info__adresses__contact span {
	color: #c6ad7b;
}

.menu-header {
	background: #e5b321;
	font-size: 25px;
	padding: 69px 0 0 21px; color: #fff;
	margin-bottom: 30px;
	min-height: 61px;
}
.menu-header__name {
	float: left;
}
.menu-header__city {
	float: left;
	color: #770399;
	background: #fff;
	margin: 8px 0 0 15px;
	padding: 0 15px;
	font-size: 15px;
}
.list-block__menu {
	padding-left: 35px;
}
.list-block.list-block__menu  li:last-child .item-inner:after, .list-block.list-block__menu  li:last-child li:last-child .item-inner:after,.list-block.list-block__menu .item-inner:after,.list-block.list-block__menu ul:after {
	display: none;
}
.list-block__menu a  {
	color: #000;
}
.list-block.list-block__menu .item-inner {
	padding-left: 0;
	margin-left: 0;
	padding-bottom: 4px;
}
.list-block__menu .item-media {text-align: center;}



.barcode__item {
	display: flex; height: 100%;
	align-items: center;
}
.barcode__item>div {
	width: 100%; text-align: center;
}
.barcode__item>div>div {
	-webkit-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg); 
	transform: rotate(-90deg);
}

.popup__centered {
	background: none;
	box-shadow: 0 20px 44px rgba(0,0,0,.5);
	width: 100%!important; height: 100%!important;
}
@media (min-height: 630px) and (min-width: 630px) {
	.popup:not(.tablet-fullscreen) {
		left: 0%; top: 0; margin: 0;
		width: 100%; height: 100%;
	}
}
.popup__centered__inner {
	height: 100%;
	display: flex;
	align-items: center;
	/*padding: 0 15px;*/
}
.popup__centered__content {
	background: #fff;
	width: 100%;
	padding: 0 15px 15px;
	max-width: 630px;
	/*max-height: 80%;*/
	margin: auto;
}

.label-checkbox .item-media {
	margin-left: 10px;
	min-width: 20px;
}
.popup-dark {
	background: RGBA(255,255,255,0.8);
}


/* домашная страница с кнопками */
.home-page {
	height: 100vh;
	display: flex;
    flex-wrap: wrap;
	background: #fff;
}
@media (min-width: 768px) {
	.home-page {
		height: auto;
		min-height: 100vh;
		background: #2f1a1f;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
	}
	.with-statusbar-overlay .home-page {
		min-height: calc(100vh - 20px);
	}
}
@media (min-width: 768px) and (orientation: portrait) {
	.home-page {
		height: auto;
		min-height: 100vh;
		background: #2f1a1f;
		display: flex;
		flex-wrap: wrap;
		align-items: stretch;
		align-content: center;
	}
	.with-statusbar-overlay .home-page {
		min-height: calc(100vh - 20px);
	}
}
.header {
	width: 100%;
	height: 63vw;
	padding: 10px 15px 10px;
	box-sizing: border-box;
	display: flex;
	align-items: center;
}
@media (min-width: 768px) {
	.header {
		width: 50%;
		height: auto;
		padding: 10px 15px 10px;
		box-sizing: border-box;
		display: flex;
		align-items: center;
	}
}
@media (min-width: 768px) and (orientation: portrait) {
	.header {
		width: 50%;
		height: auto;
		padding: 10px 15px 10px;
		box-sizing: border-box;
		display: flex;
		align-items: center;
		margin-left: 25%;
	}
}
.header div {
	line-height: 0px;
}
.header img {
	width: 100%;
}
.home-page__content {
	width: 100%;
	height: calc(100vh - 63vw);
}

.with-statusbar-overlay .home-page {
    height: calc(100vh - 24px);
    overflow: hidden;
}

.with-statusbar-overlay .home-page__content {
    height: calc(100vh - 63vw - 24px);
    overflow: hidden;
}

@media (min-width: 768px) {
	.home-page__content {
		width: 50%;
		height: auto;
	}
}
@media (min-width: 768px) and (orientation: portrait) {
	.home-page__content {
		width: 50%;
		height: auto;
		margin-left: 25%;
	}
}
.button.home-page__content__auth-but,.button.home-page__content__activation-but,.button.home-page__content__get-but {
	width: calc(100% - 30px); margin: 0 15px;
	height: 25%;
	line-height: 1em;
	text-transform: none;
	background: #2195ee!important;
	-webkit-box-shadow:inset 0 20px 0 0 #2195ee;
	box-shadow:inset 0 20px 0 0 #2195ee;
	border-bottom: solid 3px #2195ee;
	-webkit-border-radius: 7px;
	border-radius: 7px;
	margin-top: 2%;
	margin-bottom: 0;
	display: flex;
	align-items: center;
}
@media (min-width: 768px) {
	.button.home-page__content__auth-but,.button.home-page__content__activation-but,.button.home-page__content__get-but {
		width: calc(100% - 30px); margin: 0 15px;
		height: 85px; margin-top: 15px;
	}
}
.button.home-page__content__support-but {
	height: 17%; margin-top: 2%; width: 100%;
	display: flex;
	align-items: center;
	text-transform: none;
	justify-content: center;
	color: #1e94ee!important;
    line-height: 28px;
}
.button.home-page__content__auth-but .txt,.button.home-page__content__activation-but .txt,.button.home-page__content__get-but .txt,.button.home-page__content__support-but .txt  {
	width: 100%;
	text-align: left; margin-left: 15px;
	font-size: 24px;
}
.button.home-page__content__auth-but .txt span,.button.home-page__content__activation-but .txt span,.button.home-page__content__get-but .txt span {
	display: block; font-size: 14px; font-weight: 400; margin: 13px 0 0;
}
.button.home-page__content__auth-but span.icons {
	background: url(/static/images/home-page__content__auth-but.png) right 50% no-repeat;
	background-size: contain;
	width: 22%; height: 32px;
	margin: auto;
}
.button.home-page__content__activation-but span.icons {
	background: url(/static/images/home-page__content__activation-but.png) right 50% no-repeat;
	background-size: contain;
	width: 22%; height: 32px;
	margin: auto;
}
.button.home-page__content__get-but span.icons {
	background: url(/static/images/home-page__content__get-but.png) right 50% no-repeat;
	background-size: contain;
	width: 22%; height: 32px;
	margin: auto;
}
.button.home-page__content__support-but span.icons {
	background: url(/static/images/home-page__content__support-but.png) right 50% no-repeat;
	background-size: contain;
	width: 22%; height: 24px;
	margin: 0;
}


.validate-error{
	color: red;
	font-size: 12px;
}
.has-error .input-field:after, .has-error .item-input-field:after{
	background: red;
}
.has-error .not-empty-state .item-input-field:after, .has-error .not-empty-state.input-field:after {
	background: red;
}
.item-input-field-buttons {
    margin-top: 10px;
}
/* /домашная страница с кнопками */

/* форма активации */
.activation-page {
	width: 100%;
	background: #2f1a1f;
	color: #ffffff;
	min-height: 100%;
	background: #fff;
	color: #4a5fa1;
}
.activation-page__choice-card {
	
}
.activation-page__choice-card .col-50 {
	/*padding: 10px;*/
}
.activation-page__choice-card img {
	width: calc(100% - 20px);
	border: solid 10px #fff;
	border-radius: 5px;
}
.activation-page__choice-card img.active {
	border: solid 10px #9dd3f5;
}
.activation-page_edit-data {

}
/*@media (min-width: 768px) {
	.activation-page {
		display: flex;
		align-items: center;
	}
}*/
.activation-page__inner {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}
@media (min-width: 768px) {
	.activation-page__inner {
		width: 50%;
	}
}
/* форма активации перезапись существующих по фремфорке данных */
.activation-page .list-block .label,.activation-page .list-block .not-empty-state.item-inner .label {
	color: #eb3c14;
	font-size: 24px;
	padding: 10px 0 10px 0;
}
.activation-page  .list-block.inputs-list .label .validate-error {
	font-size: inherit;
	color: #ff5f5f;
    white-space: normal;
}
.activation-page .list-block input[type=date],.activation-page  .list-block input[type=datetime-local],.activation-page  .list-block input[type=email],.activation-page  .list-block input[type=number],.activation-page  .list-block input[type=password],.activation-page  .list-block input[type=search],.activation-page  .list-block input[type=tel],.activation-page  .list-block input[type=text],.activation-page  .list-block input[type=time],.activation-page  .list-block input[type=url],.activation-page  .list-block select,.activation-page  .list-block textarea {
    font-size: 24px;
    height: 44px;
	background: #e6ecf1 url(/static/images/input.png) 95% 50% no-repeat;
	-webkit-border-radius: 0px;
	border-radius: 0px;
	padding: 0 0 0 10px;
	border-bottom: 2px solid #1e94ee;
	color: #1e94ee;
}
.input-field:after, .item-input-field:after {
	display: none;
}
.activation-page__gender .label-switch .checkbox {
    background: rgba(33,150,243,.5);
}
.activation-page__gender  .label-switch .checkbox:after {
    background: #2196f3;
}
.activation-page__checkbox .label-checkbox .item-media {
	margin-left: 16px;
	align-self: flex-start;
}
.list-block.inputs-list.activation-page__custom_notifications   .item-media {
	align-self: flex-start;
}
.activation-page__checkbox  .label-checkbox {
	align-items: flex-start;
}
.activation-page__checkbox .item-inner {
	margin-left: 0!important;
}
.activation-page__custom_notifications {
	background: RGBA(30,148,238,0.1);
}
.list-block.inputs-list.activation-page__custom_notifications .item-inner {
	margin-left: 0;
	padding-left: 16px;
}
.activation-page__custom_notifications .content-block-title {
	font-size: 20px;
	line-height: 1em;
	color: #eb3c14;
}
.activation-page__custom_notifications  .list-block .not-empty-state.item-inner .label {
	color: #eb3c14;
}
.list-block.activation-page__custom_notifications .item-inner:after {
	display: none!important;
}
.activation-page__custom_notifications .list-block select {
	font-size: 16px;
}
.activation-page__custom_notifications .list-block .item-content {
	min-height: 36px;
	align-self: flex-start;
}
.activation-page__button {
	padding: 20px 16px;
	text-align: center;
}
@media (min-width: 768px) {
	.activation-page__button {
		text-align: right;
	}
}
.activation-page__button button {
	margin: 0 auto;
	display: block; width: 100%;
}
.activation-page__button button {
	width: 100%; margin: 0 auto;
	height: 100px;
	line-height: 100px;
	text-transform: none;
	background: #1e94ee!important;
	-webkit-box-shadow:inset 0 20px 0 0 #1e94ee;
	box-shadow:inset 0 20px 0 0 #1e94ee;
	border-bottom: solid 3px #1e94ee;
	-webkit-border-radius: 7px;
	border-radius: 7px;
	margin-top: 2%;
	margin-bottom: 0;
	display: flex;
	align-items: center;
}

.activation-page__button button .txt  {
	width: 100%;
	text-align: left; margin-left: 15px!important;
	font-size: 22px;
}
.activation-page__button button .txt span {
	display: block; font-size: 14px; font-weight: 400; margin: 13px 0 0;
}
.activation-page__button button span.icons {
	background: url(/static/images/home-page__content__activation-but.png) right 50% no-repeat;
	background-size: contain;
	width: 22%; height: 32px;
	margin: auto;
}
.activation-page__confirm-but {
	padding: 0 15px;
}
.activation-page__confirm-but button {
	display: block; width: 100%;
}

@media (max-width: 767px) {
    .activation-page__button button {
        height: 70px;
        line-height: 70px;
    }
}

.activation-page__scan-but,.activation-page__manual-but {
	display: flex;
	flex-wrap: wrap;
	height: auto!important; line-height: 1em!important;
	white-space: normal!important;
	padding: 20px 0 15px;
}
.activation-page__scan-but .icons {
	width: 30px; height: 26px; background: url(/static/images/barcode-scan.png) 50% 50% no-repeat;
	background-size: contain; margin: auto;
}
.activation-page__manual-but .icons {
	width: 30px; height: 26px; background: url(/static/images/barcode-manual.png) 50% 50% no-repeat;
	background-size: contain; margin: auto;
}
.activation-page__scan-but .txt,.activation-page__manual-but .txt {
	width: 100%; font-size: 18px; line-height: 1.3em; margin-top: 10px;
}


.activation-page__trobber {
	background: RGBA(0,0,0,0.9);
	position: fixed; left: 0; top: 0; width: 100%; height: 100%; z-index: 1000;
	display: flex; color: #fff; text-align: center;
	align-items: center;
}
.activation-page__trobber > div {
	width: 100%;
}

.activation-page__code-but {
	font-size: 21px; height: 60px; line-height: 60px;
	margin: 10px 0 20px;
}



.popup-dark__button button {
	display: inline-block; padding-left: 20px; padding-right: 20px;
}

.activation-page__or {
	text-align: center; font-size: 40px; opacity: .5;
	padding: 30px 0 10px;
	color: #eb3c14;
}

.with-statusbar-overlay .activation-page__or {
    padding: 20px 0 0;
}


.popup-alert {
	background: #eb3c14;
	border-radius: 10px;
	margin: 10px;
	margin-top: calc(50vh - 100px);
	padding: 15px;
}
.popup-dark__message {
	text-align: center; color: #fff; font-size: 18px; padding: 10px 0;
}

.popup-dark__button {
	text-align: center;
}
.popup-dark__button .button.button-fill {
	display: inline-block; background: #8f1b00; color: #fff; font-size: 24px; border-radius: 5px; padding: 0 30px;
}
path.feather_een {
	fill: green;
	background-color: #fff;
    color: red;
}


.with-statusbar-overlay .statusbar-overlay  {
    display: block;
}
.statusbar-overlay {
    background-color: #2f1a1f;
}

@media (min-width: 1000px) {
    .button.home-page__content__auth-but, .button.home-page__content__activation-but, .button.home-page__content__get-but {
        min-height: 80px;
    }

    /*.header {
        height: 200px;
        text-align: center;
        display: block;
        margin-bottom: 50px;
    }*/
    /*.header img {
        width: auto;
        height: 200px;
    }*/
}

.map-body .pages .page {
    display: none;
}


.map-body .pages .page:last-child {
    display: block;
}


.coupon-list {
	min-height: 240px; background-position: center center;
	background-size: cover;
	width: 100%; margin-top: 10px;
    position: relative;
	overflow: hidden;
}
.coupon-list__partner {
	position: absolute;
	left: -3px; top: -7px;
	transform: rotate(-2deg);
    -webkit-transform: rotate(-2deg);
    -o-transform: rotate(-2deg);
    -moz-transform: rotate(-2deg);
}
.coupon-list__partner span {
	position: relative;
	display: block;
	transform: rotate(2deg);
    -webkit-transform: rotate(2deg);
    -o-transform: rotate(2deg);
    -moz-transform: rotate(2deg);
	font-size: 20px;
	font-weight: bold;
	color: #fff;
	padding: 12px 15px;
}
.coupon-list__inner {
	position: absolute;
	left: 0; bottom: 0; right: 0; 
	background: RGBA(62,13,104,0.8);
	padding: 8px 15px 11px;
	color: #ffffff;
}
.coupon-list__inner__title {
	font-size: 26px;
	 font-weight: normal;
}
.coupon-list__inner__ostalos {
	float: right; padding: 11px 0 0;
}
.coupon-list__inner__desc {
	text-align: center;
	font-size: 17px;
}
.coupon-list__inner__do {
	float: right;
}

.page-beige {
	background: #ffead5;
}

.balls-page__procent {
	background: #fef3e8;
	color: #4a5fa1;
	padding: 20px 0 20px;
}
.balls-page__procent-title {
	font-size: 14px;
    text-align: center;
    text-transform: uppercase;
}
.balls-page__procent-item {
	background: #fff;
    padding: 2px;
    border-radius: 4px;
	border: solid 1px #ffac74;
    margin-bottom: 3px;
    margin-right: 0;
	width: 150px;
	margin-left: auto; margin-right: auto;
}
.balls-page__procent-item div {
	background: #ff7920;
    height: 5px;
    border-radius: 2px;
}
.balls-page__procent-desc {
	font-size: 18px;
	padding: 10px 15px 0; text-align: center;
}
.balls-page__procent-desc span {
	color: #ff7920;
}
.balls-page__guest-balls {
	text-align: center;
	color: #ff7920; font-size: 24px;
	text-transform: uppercase;
	padding: 10px 0 0;
}
.balls-page__guest-balls span {
	font-size: 50px;
}
.balls-page__guest-plus {
	font-size: 18px; color: #7c7c7c;
	text-align: center;
	padding: 10px 0 0;
}

.coupon-page__del-but {
	background: #ffedda url(/static/images/del-red.png) center center no-repeat;
	width: 52px; height: 52px;
	position: absolute; right: 15px; bottom: 15px;
}

.how-work {
	height: 100%;
	background: #ffead5;
}
.how-work .swiper-container {
	height: 100%;
}
.how-work__desc__img,.how-work__desc__img2,.how-work__desc__img3,.how-work__desc__img4 {
	height: calc(100% - 220px);
	width: 50%; margin-left: auto; margin-right: auto;
	margin-top: 20px;
}
.how-work__desc__img {
	background: url(/static/images/how-work1.png) center bottom no-repeat;
	background-size: contain;
}
.how-work__desc__img2 {
	background: url(/static/images/how-work2.png) center bottom no-repeat;
	background-size: contain;
}
.how-work__desc__img3 {
	background: url(/static/images/how-work3.png) center bottom no-repeat;
	background-size: contain;
}
.how-work__desc__img4 {
	background: url(/static/images/how-work4.png) center bottom no-repeat;
	background-size: contain;
}
.how-work__desc {
	font-size: 22px; text-align: center;
	padding: 40px 0 40px;
}
.how-work .swiper-pagination-bullets {
	bottom: 40px;
}

.gender-select {
	font-size: 20px;
	padding-bottom: 10px;
}
.gender-select > div {
    float: left;
	color: #1e94ee;
	padding: 0 8px 0; margin-right: 10px;
}

.gender-select .active {
	color: #4a4a4a;
	border-bottom: solid 2px #eb3c14;
}


.activation-page .list-block textarea {
    height: 170px;
}

.category-item__url a, .category-item__phone a {
    padding: 5px 0;
    display: block;
}

.list-block .item-inner.item-inner__category {
    padding-top: 0;
    padding-bottom: 0;
}