
.fade-enter-active, .fade-leave-active {
    transition: all .5s;
}

.fade-enter, .fade-leave-to {
    opacity: 0;
    overflow: hidden;
}


.fade-up-enter-active, .fade-up-leave-active {
    transition: all .5s;
}

.fade-up-enter-to, .fade-up-leave {
    max-height: 1000px;
}

.fade-up-enter, .fade-up-leave-to {
    opacity: 0;
    overflow: hidden;
    max-height: 0;
}

.left-right-enter-active, .left-right-leave-active, .right-left-enter-active, .right-left-leave-active  {
    transition: all .5s;
}

.left-right-leave-active, .right-left-leave-active {
    max-height: 0;
    overflow: visible;
}

.left-right-enter, .left-right-leave-to, .right-left-enter, .right-left-leave-to {
    opacity: 0;
}

.left-right-enter, .right-left-leave-to {
    transform: translate3d(-100%, 0, 0);
}

.left-right-leave-to, .right-left-enter {
    transform: translate3d(100%, 0, 0);
}
