<template>
  <!-- App -->
  <div id="app">

    <left-panel v-if="activated" ></left-panel>


    <!-- Main Views -->
    <f7-views>
      <f7-view id="main-view" main>
        <f7-pages>
          <main-page v-if="!forceActivation" ></main-page>
          <activate-page v-if="forceActivation"></activate-page>
        </f7-pages>
      </f7-view>
    </f7-views>
  </div>
</template>

<script>

import UserService from './service/user';
import config from './config';

export default {
    data() {
        return {
            activated: UserService.activated,
            forceActivation: config.isApp && !UserService.activated,
        }
    },
    computed: {

    },
    components: {
        'left-panel': require('./components/left-panel'),
        'main-page': require('./pages/main'),
        'activate-page': require('./pages/activate/index'),
    },
    created() {
        this.$bus.$on('activation-changed', () => {
            this.activated = UserService.activated;
            const $$ = window.Dom7;
            $$('body').removeClass('with-panel-left-cover');
        });
    }
};
</script>